 <turbo-frame id="lista_items_ord">
        <% 
            Item.where(periodo_id:@periodo.id).order(:nombre).each do |item| 
                #item = Item.where(proyecto_id:py.id).first
        %> 
            <div id="context-menu">
                <div id="itemedit" class="item" data-action="click->organizar#ctxitem">Editar nombre...</div>
                
            </div>

            <div class="mb-1">
                  <div style="display:flex;">
                        <div class="btnmenutx"> 
                              <button data-action="click->organizar#openmenu" data-organizar-item-param="<%= item.proyecto.id %>" id="dropdownMenuIconButton<%= item.proyecto.id %>" data-dropdown-toggle="dropdownDots<%= item.proyecto.id %>" class="inline-flex items-center p-0 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                    <svg class="w-3 h-3 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
                                       <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
                                    </svg>
                              </button>
                              <div id="dropdownDots<%= item.proyecto.id %>" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton">
                                    <li>
                                        <div data-organizar-item-param="<%= item.proyecto.id %>" data-action="click->organizar#cambiarnm" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Renombrar</div>
                                    </li>
                                    <li>
                                        <div data-organizar-item-param="<%= item.proyecto.id %>" data-action="click->organizar#ctxmover" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mover</div>
                                    </li>
                                    
                                    </ul>
                              </div>
                        
                        </div>
                        <div id="item_<%= item.proyecto.id %>" class="context ml-2 font-semibold mb-1 cursor-pointer" data-action="click->organizar#abrirEnlace" data-iditem="<%= item.proyecto.id %>" data-enlace="<%= resumen_vistas_path(:id=>item.proyecto_id) %>" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                            <%= item.nombre %>
                        </div>   
                   </div>
                   <div>
                        <%
                            sig = true
                            p = Proyecto.find(item.proyecto_id)
                            tmp_py = p
                            item_count = 0
                            while sig do
                              if !Proyecto.where(raiz:tmp_py.id).last.nil?           
                                   p_item = Proyecto.find(Proyecto.where(raiz:tmp_py.id).last.id)
                                   tmp_py = p_item
                                   item_count = item_count + 1
                        %>
                                   <div class="text-red-700 ms-5">
                                       <div id="item_<%= tmp_py.id %>" class="context font-semibold cursor-pointer p-1" data-action="click->organizar#abrirEnlace" data-iditem="<%= tmp_py.id %>" data-enlace="<%= resumen_vistas_path(:id=>tmp_py.id) %>" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                            Modificación <%= item_count %>
                                       </div>  
                                   </div>
                           <% else
                                    sig = false   
                              end
                            end
                           %>
                    </div>
                
            </div> 
     <% end %>    

    <script>
    /*
            var resizer = document.querySelector(".resizer")
            var sidebar = document.querySelector(".sidebarz");
            var els_items = document.querySelectorAll("div.context")
            var item_id = 0
            var contextMenu = document.getElementById("context-menu");
            var el = ''
            var tmp_html = ''

            function initResizerFn( resizer, sidebar ) {
            
            // track current mouse position in x var
            var x, w;

            function rs_mousedownHandler( e ) {

                x = e.clientX;

                var sbWidth = window.getComputedStyle( sidebar ).width;
                w = parseInt( sbWidth, 10 );

                document.addEventListener("mousemove", rs_mousemoveHandler);
                document.addEventListener("mouseup", rs_mouseupHandler);

                document.getElementById('sidebar').classList.toggle('moving',true);
            }

            function rs_mousemoveHandler( e ) {
                var dx = e.clientX - x;

                var cw = w + dx; // complete width
                
                //if ( cw < 700 ) {
                    sidebar.style.width = `${ cw }px`;
                //}
            }

            function rs_mouseupHandler() {
                // remove event mousemove && mouseup
                document.removeEventListener("mouseup", rs_mouseupHandler);
                document.removeEventListener("mousemove", rs_mousemoveHandler);
                document.getElementById('sidebar').classList.toggle('moving',false);
            }

            resizer.addEventListener("mousedown", rs_mousedownHandler);
            }


            initResizerFn( resizer, sidebar );


            els_items.forEach(function (el_item) {
                    el_item.addEventListener("contextmenu", (e) => {
                        e.preventDefault();
                        
                        let mouseX = e.clientX || e.touches[0].clientX;
                        let mouseY = e.clientY || e.touches[0].clientY;
                        let menuHeight = contextMenu.getBoundingClientRect().height;
                        let menuWidth = contextMenu.getBoundingClientRect().width;
                        let width = window.innerWidth;
                        let height = window.innerHeight;
                        if (width - mouseX <= 200) {
                                contextMenu.style.borderRadius = "5px 0 5px 5px";
                                contextMenu.style.left = width - menuWidth + "px";
                                contextMenu.style.top = mouseY + "px";
                                //right bottom
                                if (height - mouseY <= 200) {
                                    contextMenu.style.top = mouseY - menuHeight + "px";
                                    contextMenu.style.borderRadius = "5px 5px 0 5px";
                                }
                        }else { //left
                            contextMenu.style.borderRadius = "0 5px 5px 5px";
                            contextMenu.style.left = mouseX + "px";
                            contextMenu.style.top = mouseY + "px";
                            //left bottom
                            if (height - mouseY <= 200) {
                                contextMenu.style.top = mouseY - menuHeight + "px";
                                contextMenu.style.borderRadius = "5px 5px 5px 0";
                            }
                        }
                        item_id = el_item.dataset.iditem
                        let item_ctx = document.getElementById("context-menu")
                        item_ctx.innerHTML = `<div id="itemedit" class="item" data-action="click->organizar#ctxitem"><span>Editar nombre...</span></div>
                                              <div id="itemmover" class="item" data-action="click->organizar#ctxmover" data-organizar-idpy-param=${item_id} ><span>Mover al inicio...</span></div>
                                             `
                        if ( el != '' ){
                            item_ctx.innerHTML = `<div id="itemedit" class="item"><span class="italic text-zinc-400">Editar nombre...</span></div>`
                        }
                        contextMenu.style.visibility = "visible";
                    });
                });
                */
    </script>
</turbo-frame>

