<%= form.fields_for :mconvocatoria do |f| %>
<div class='flex w-full'>
 <div class='w-1/2'>
     <div class="relative z-0 mb-6 group">
            <%= f.text_field :nomconvocatoria,
                  class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 
                         appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer",
                  placeholder:" "       
            %> 
            <%= form.label :nomconvocatoria, 'Nombre de la Convocatoria',
                 class:'peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                        peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
            %>

     </div>
     <div class="relative z-0 mb-6 group">
            <%= f.text_field :link,
                  class:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 
                         appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer",
                  placeholder:" "       
            %> 
            <%= form.label :link, 'Link de la Convocatoria',
                 class:'peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                        peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
            %>

     </div>
 </div>    
 <div class='w-1/2'> 
     <div class="relative z-0 p-6 group" data-controller="uploadfile">
          <% if controller.action_name == 'new' %>
                  <%= form.file_field :dconvocatoria, direct_upload: true, data: { upsf_target: "input", action: "change->upsf#uploadFile"} %>
          <% end %>  
          <% if controller.action_name == 'edit' %>
                  <%= form.file_field :dconvocatoria, class:'item_file', style:'display:none;', direct_upload: true, data: { upsf_target: "input", action: "change->upsf#uploadFile"} %>
                  <% if @proyecto.dconvocatoria.attached? %>
                         <%= link_to @proyecto.dconvocatoria.filename, rails_blob_path(@proyecto.dconvocatoria, disposition:'inline'), target:'_blank', class:'item_file' %>
                         <button class='item_file ml-2' data-action='click->upsf#delFileEdit' data-upsf-idpy-param='<%= @proyecto.dconvocatoria.id %>'>Eliminar</button>
                  <% end %>
          <% end %>    
     </div>
 </div>    
</div>

<% end %>