<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombre del Proyecto
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha de Registro
                </th>

                <th scope="col" class="px-6 py-3">
                    Estado
                </th>
               
                <th scope="col" class="px-6 py-3">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
             <% if @proyectos.any? %>
                    <% @proyectos.each do |py| %>
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900  dark:text-white">
                                <%= py.nombre %>
                               
                            </th>
                            <td class="px-6 py-4">
                                <%= py.created_at.strftime("%d-%m-%Y")  %>
                            </td>
                            <td class="px-6 py-4">
                                <%= render 'vistas/util/pyestado', proyecto:py %>
                            </td>
                            
                            <td class="px-6 py-4">
                                <% if py.etapas.last.tevento.clave == 'CAP' %> 
                                       <%= link_to 'Editar', resumen_vistas_path(:id=>py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline" %> 
                                <% else %>    
                                       <%= link_to 'Ver', resumen_vistas_path(:id=>py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline" %> 
                                <% end %>                            
                            </td>
                        </tr>
                     <% end %>   
             <% else %>           
                     <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"><td colspan='3' scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No hay proyectos registrados</td>
            <% end %>            
        </tbody>
    </table>
</div>