
    <template data-nested-form-inst-target="template" >
                <%= form.fields_for :instituciones, Institucion.new, child_index:'NEW_RECORD' do |inst_fields|%>
                     <%= render 'fields_institucion', f: inst_fields %>
                 <% end %>
    </template>

    <div class="w-full text-sm mx-3 border border-gray-200">
        <div class="flex w-full p-2 border-b-2 border-gray-200">
               <div class="flex w-11/12 justify-center font-semibold">Instituciones Participantes</div>
        </div>

        <div id="list_inst" class="w-full p-2 divide-y divide-slate-200"> 
            <%= form.fields_for :instituciones do |inst_fields| %> 
                   <%= render 'fields_institucion', f: inst_fields %>
            <% end %>    
            <div data-nested-form-inst-target="target"></div>
            <div class="w-full flex mt-3 "> 
                   <button type="button" class="inline-flex items-center px-2 py-2 bg-sky-600 hover:bg-sky-800 text-white text-sm font-medium rounded-md", data-action="nested-form-inst#add">
                         <%= inline_svg_tag 'svg/ciudad.svg' %>
                         <div class="flex mx-1.5">Agregar Institucion...</div>
                  </button>
            </div>  
        </div>        
    </div>    
