        <% flash.each do |type, msg| %>
                <% if type == 'error' %>
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <%= msg %>
                    </div>
                <% end %>    
        <% end %>

        <%= form_with(model: @proyecto,
                    data:{
                        controller:'nested-form-inst',
                        nested_form_wrapper_selector_value: '.nested-form-wrapper' 
                    })  do |form| 
        %>
        
            <% if controller.action_name == 'new' || controller.action_name == 'create' %>
                    <%= form.hidden_field :persona_id, value:current_usuario.cuenta.persona.id  %>
            <% end %>     

            <div data-controller="proyecto">
                <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5">
                        <%= form.label :nombre, 'Nombre del Proyecto:', class:'block font-semibold md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                    </div>
                    <div class="md:w-4/5">
                    <%= form.text_area :nombre, class:'appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'%>
                    </div>
                </div>

                <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5">
                        <%= form.label :objetivo, 'Objetivo del Proyecto:', class:'block font-semibold md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                    </div>
                    <div class="md:w-4/5">
                        <%= form.text_area :objetivo, 
                                                  class:'appearance-none border-2 border-gray-200 rounded 
                                                        w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'%>
                    </div>
                </div>

                <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5">
                        <%= form.label :clasificacion_id, 'Tipo de Proyecto:', class:'block font-semibold md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                    </div>
                    <div class="flex md:w-4/5">
                        <div class="w-3/6 md:flex md:items-center">
                            <%= form.select :clasificacion_id,
                                                Clasificacion.all.map{|item| [item.nomclasifica, item.id]},
                                                {prompt: '-- Seleccione una opción --'},
                                                {class:'appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500',
                                                'data-action':'change->proyecto#onClasifica'
                                                }
                            %>   
                        </div> 
                                 
                    </div>
                </div>

                <div class="md:flex md:items-center mb-3">
                    <% if controller.action_name == 'new' %>  
                        <%=  form.hidden_field :overhead, value:'0' %>
                    <% else %>    
                        <%=  form.hidden_field :overhead %>
                    <% end %>    

                   

                        <div class="md:w-1/5"></div>
                        <div id="sel_overhead" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem] w-3/6 md:flex md:items-center mx-1.5">
                                  <% if controller.action_name == 'new'  %>  
                                         <%= render 'proyectos/sel_overh_new' %>
                                  <% else %>
                                         <%= render 'proyectos/sel_overh_otro' %> 
                                  <% end %>

                        </div>      
                </div>

                <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5">
                        <%= form.label :medio_id, 'Tipo Medio:', class:'block font-semibold md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                    </div>
                    <div class="md:w-2/5">
                        <%= form.select :medio_id,
                                                Medio.all.map{|item| [item.nommedio, item.id]},
                                                {prompt: '-- Seleccione una opción --'},
                                                {class:'appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500',
                                                'data-action':'change->proyecto#onMedio'
                                                }

                        %>   
                    </div>
                </div>
                <%
                
                
                
                %>
                <% if controller.action_name == 'new' || controller.action_name == 'edit' %>
                        <div class="md:flex md:items-center mb-3" id='secc_convoca' style=" <%= controller.action_name == 'edit' ? !@proyecto.medio.nil? ? @proyecto.medio.clave == 'CONV' ? 'display:flex;' : 'display:none;' : 'display:none;': 'display:none;' %>  ">
                                    <div class="md:w-1/5"></div>
                                    <div class="md:w-2/3 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight 
                                                focus:outline-none focus:bg-white focus:border-purple-500">
                                        <%= render 'convocatoria', form:form %>
                                    </div>
                        </div>
                <% end %>
                <% if controller.action_name == 'create' || controller.action_name == 'update' %>
                        <div class="md:flex md:items-center mb-3" id='secc_convoca' style="<%= !@proyecto.medio.nil? ? @proyecto.medio.clave == 'CONV' ? 'display:flex;' : 'display:none;' : 'display:none;'   %>" >
                                            <div class="md:w-1/5"></div>
                                            <div class="md:w-2/3 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight 
                                                            focus:outline-none focus:bg-white focus:border-purple-500">
                                                    <%= render 'convocatoria', form:form %>
                                            </div>
                        </div>
                <% end %>

                <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5">
                        <%= form.label :linea_id, 'Tipo Investigación:', class:'block font-semibold md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                    </div>
                    <div class="md:w-2/5">
                        <%= form.select :linea_id,
                                                Linea.all.map{|item| [item.nomlinea, item.id]},
                                                {prompt: '-- Seleccione una opción --'},
                                                {class:' appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'}

                        %>   
                    </div>
                </div>

                <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5">
                        <%= form.label :periodo, 'Periodo de Ejecución:', class:'block font-semibold md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                    </div>
                    <div class="md:w-2/5">
                    <%= form.text_field :periodo, class:'appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'%>
                    </div>
                </div>

                <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5">
                    
                    </div>
                    <div class="flex md:w-4/5" data-controller="tiptrans">
                            <div class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem] w-fit md:flex md:items-center mx-1.5">
                                <%= form.check_box :tfconoc,
                                        class:'relative align-middle float-left -ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-primary checked:bg-primary checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent dark:border-neutral-600 dark:checked:border-primary dark:checked:bg-primary dark:focus:before:shadow-[0px_0px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca]'
                                %>
                                <%= form.label :tfconoc, 'Transferencia de Conocimiento', class:'inline-block font-semibold pl-[0.15rem] hover:cursor-pointer ' %>
                            </div>
                           <button
                                id="tipTrans"
                                type="button"
                                class="rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                 <%= inline_svg_tag 'svg/pregunta.svg' %>
                            </button>
                            <div
                                id="tipTransCont"
                                role="tooltip"
                                class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
                            >
                                Transmisión del conocimiento a los sectores gubernamental, social y productivo.
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            
                    </div> 
                </div>

                <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5">
                    </div>
                    <div class="flex md:w-4/5" data-controller="tipinter">  
                            <div class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem] w-fit md:flex md:items-center mx-1.5">
                                <%= form.check_box :interinst,
                                        class:'relative align-middle float-left -ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-primary checked:bg-primary checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent dark:border-neutral-600 dark:checked:border-primary dark:checked:bg-primary dark:focus:before:shadow-[0px_0px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca]',
                                        'data-action':'click->proyecto#onInterInst'
                                %>
                                <%= form.label :interinst, 'Interinstitucional', class:'inline-block pl-[0.15rem] font-semibold hover:cursor-pointer ' %>
                            </div> 
                            <button
                                id="tipInter"
                                type="button"
                                class="rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                 <%= inline_svg_tag 'svg/pregunta.svg' %>
                            </button>
                            <div
                                id="tipInterCont"
                                role="tooltip"
                                class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
                            >
                                 Proyectos en colaboración con otras instituciones u organizaciones.
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>  
                    </div> 
                </div>

                <% if controller.action_name == 'new' || controller.action_name == 'edit' %>
                         <div id="secc_institucion" data-controller="institucion" class="md:flex md:items-center mb-3" style="<%= controller.action_name == 'edit' && @proyecto.interinst == true ? 'display:flex;' : 'display:none;' %>" >
                                    <div class="md:w-1/5">
                                    </div>
                                    <div class="md:w-4/5">
                                         <%= render 'instituciones', form:form %>
                                    </div> 
                         </div>
                <% end %> 
                <% if controller.action_name == 'create' || controller.action_name == 'update' %>
                         <div id="secc_institucion" data-controller="institucion" class="md:flex md:items-center mb-3" style="<%= @proyecto.interinst == true ? 'display:flex;': 'display:none;'  %>" >
                                    <div class="md:w-1/5">
                                    </div>
                                    <div class="md:w-4/5">
                                         <%= render 'instituciones', form:form %>
                                    </div> 
                         </div>
                <% end %>

                
                <% if current_usuario.cuenta.rol.clave != 'EL'  %>
                         <%= render 'marchivos/wrap', form:form, tipo:'protocolo' %>  
                         <%= render 'marchivos/wrap', form:form, tipo:'convenio' %>  
                <% end %> 
                                  


                <div class="md:flex md:items-center justify-end border-t-2 border-gray-100 p-2">
                    <% if controller.action_name == 'new' || controller.action_name == 'create' %>
                          <button 
                              type="submit" 
                              class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" 
                              data-turbo-frame= 'py_content_action'
                            >
                             
                             <span class="ml-2">Guardar</span>
                             <%= inline_svg_tag 'svg/disco.svg', class:"ml-2" %>
                          </button>
                    <% end %>

                    
                    <% if controller.action_name == 'edit' %>
                        <%= link_to proyecto_path(@proyecto, :src=>'V'), 
                                    class:"mr-3 text-white bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800",
                                    data: { turbo_frame: "py_content_secc", action:"click->menusecc#itemaction" } do %>  
                                   Cancelar
                        <% end %>   
                        <button type="submit" class="text-white bg-green-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" 
                                 data-turbo-frame= 'py_content_action' 
                                >
                            Aplicar cambios
                        </button>
                    <% end %>    
                
                </div>

        <% end %>