<tr class="<%= tipo == 'V' ? 'bg-orange-100' : tipo == 'F' ?  ' bg-emerald-100' : ' bg-white'  %>  border-b dark:bg-gray-900 dark:border-gray-700" >
            <td style="text-align: center;">
                  <span class="text-orange-600 dark:text-orange-600 font-bold">Modificación</span>
            </td> 
            <td scope="row" class="px-6 py-4 font-medium text-gray-900  dark:text-white">
            </td>
            <td class="px-6 py-4 text-center">
                <%= py.created_at.strftime("%d-%m-%Y")  %>
            </td>
            <td class="px-6 py-4">
                <%= @resp %>
            </td>
            <td class="px-6 py-4 text-center">
                <%= render 'vistas/util/evalestado', proyecto:py %>
            </td>
            <td class="px-6 py-4">
                <div class="flex">
                <div>
                    <%
                       eval = Evaluador.where(persona_id: current_usuario.cuenta.persona.id).first
                    %>     
                    <% if py.validaciones.where(proyecto_id: py.id, evaluador_id: eval.id, tvalidacion_id:[3,4]).blank? %> 
                              <%= link_to 'Validar', notifica_vistas_path(:id=>py.id), class:"font-medium text-orange-600 dark:text-orange-600 hover:underline font-bold" %>
                    <% else %>      
                              <%= link_to 'Ver', notifica_vistas_path(:id=>py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                    <% end %>                            
                </div>  
                <div class="ml-5">   
                        <%
                                #CARGO DEL USUARIO ACTUAL.
                                cargo_actual = current_usuario.cuenta.persona.cargo.tipocargo.clave
                                existe_firma = py.firmas.where(cargoeval:cargo_actual).order(:created_at).first

                        %>  
                        <% if py.enlaces.last.enevento.clave == 'DICT' %>
                                <% if existe_firma.nil? %>
                                    <%= link_to 'Firmar', firma_path(py, format: :html), class:"font-medium text-orange-600 dark:text-orange-600 hover:underline font-bold" %> 
                                <% else %>    
                                        <%= link_to 'Firmado', firma_path(py, format: :html), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline font-bold" %>  
                                <% end %>     
                        <% elsif py.enlaces.last.enevento.clave == 'FIR' %>
                                <%= link_to 'Firmado', firma_path(py, format: :html), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline font-bold" %>  
                        <% else %>
                                <span class="text-gray-500 italic ">Firmar</span>
                        <% end %>  
                </div>
            </td>
</tr>