<%
    sig = true
    p = py
    tmp_py = p
    item_count = 0
    while sig do
        if !Proyecto.where(raiz:tmp_py.id).last.nil?           
            p_item = Proyecto.find(Proyecto.where(raiz:tmp_py.id).last.id)
            tmp_py = p_item
            item_count = item_count + 1
            @resp = tmp_py.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio
%>
        <% if !tmp_py.enlaces.blank? %>

           <% if tmp_py.enlaces.last.enevento.clave == 'FIR' %>
                <tr class="bg-white  dark:bg-gray-900 dark:border-gray-700">
                    <td style="text-align: center;">  
                        <div class="text-red-700 font-semibold ml-2"> Modificación <%= item_count %> </div> 
                    </td>
                    <td></td>
                    <td class="p-2" style="text-align: center;"> <%= @resp %></td>
                    <td class="p-2" style="text-align: center;">
                        <%= link_to proyecto_path(tmp_py.id, format: :pdf), 
                                    target:'_blank', 
                                    class:'flex block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent 
                                            md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 
                                            dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent' do %> 
                                    <%= inline_svg_tag 'svg/archivo-pdf-blue.svg' %>
                                    <span class='text-blue-800 font-semibold ml-1'>Ficha</span>
                        <% end %>  
                    </td>

                    <td class="p-2" style="text-align: center;">
                        <%= link_to 'Montos', resumen_vistas_path(:id=>tmp_py.id), class:"p-2 justify-self-center font-medium text-blue-600 dark:text-blue-500 rounded hover:bg-gray-200 hover:ring-2" %> 
                    </td>
                </tr>     
           <% end %> 
        <% end %>   
    <% else
            sig = false   
        end
    end
%>