                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 box" draggable="true" id="<%= py.id %>" data-action="dragstart->organizar#handleDragStart">
                                 <td style="text-align: center;">
                                       <% if !py.enlaces.blank? && (py.enlaces.last.enevento.clave == 'FIR' || py.enlaces.last.enevento.clave == 'DICT') %>
                                               <% if py.modificatorio != 'SI' %> 
                                                  <%= py.dictamen.numregistro %>
                                               <% end %>
                                       <% else %>       
                                        
                                       <% end %>
                                        <% if py.modificatorio == 'SI' 
                                              p = Proyecto.find(py.raiz) 
                                       %>
                                              <div class="text-red-700 italic ml-2">
                                                    Modificación   
                                              </div>
                                       <% end %>
                                </td>
                                <th scope="row" class="p-2 font-medium text-gray-900  dark:text-white" style="text-align: justify;">
                                </th>
                                <td class="p-2" style="text-align: center;">
                                      <% if !py.etapas.includes(:tevento).where('teventos.clave':'REV').first.nil? %>
                                              <%=  py.etapas.includes(:tevento).where('teventos.clave':'REV').first.created_at.strftime("%d-%m-%Y %H:%M ")  %>
                                      <% end %>        
                                </td>
                                <td class="p-2" style="text-align: center;">
                                      <%= @resp %>
                                </td>
                               
                                <td class="p-2" style="text-align: center;">
                                    <%= render 'vistas/util/elestado', proyecto:py %>
                                </td>
                                <td class="p-2" style="text-align: center;">
                                    <% if py.etapas.last.tevento.clave == 'CAP' %> 
                                          <% if current_usuario.cuenta.rol.clave == 'EL' %>
                                                   ----
                                          <% else %>
                                                   <%= link_to 'Editar', resumen_vistas_path(:id=>py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline" %> 
                                          <% end %>    

                                    <% else %>  

                                                   <%= link_to 'Ver', resumen_vistas_path(:id=>py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline",  data:{turbo_frame: 'pycontent'}  %> 

                                    <% end %>                            
                                </td>
                            </tr>
