
<tr class="itempy-<%= py.id %> bg-white border-t dark:bg-gray-900 dark:border-gray-700 box" 
    id="<%= py.id %>">
        <td id="celda-<%= py.id %>" style="">
               <div class="p-2"><input type="checkbox" name="selitem" id="fila-<%= py.id %>" class="selitem" data-action="click->organizar#selFila" > </div>
        </td>  
        <td style="text-align: center;">
            <% if py.enlaces.last.enevento.clave == 'FIR' || py.enlaces.last.enevento.clave == 'DICT' %>
                    <%= py.dictamen.numregistro %>
            <% else %>       
                --
            <% end %>
            
    </td>

    <th scope="row" class="p-2 font-medium text-gray-900  dark:text-white" style="text-align: justify;">
            <div><%= py.nombre %></div>
            <div style="color:green; font-weight: bold;">
                <% if !py.mconvocatoria.nil? %>
                    <%= py.mconvocatoria.nomconvocatoria %>
                <% end %>   
            </div>
    </th>

    <td class="p-2" style="text-align: center;">
        <%= py.etapas.includes(:tevento).where('teventos.clave':'REV').first.created_at.strftime("%d-%m-%Y %H:%M ")  %>
    </td>
    <td class="p-2" style="text-align: center;">
        <%= @resp %>
    </td>
    
    <td class="p-2" style="text-align: center;">
        <%= render 'vistas/util/elestado', proyecto:py %>
    </td>
    <td class="p-2" style="text-align: center;">
        <% if py.etapas.last.tevento.clave == 'CAP' %> 
            <%= link_to 'Editar', resumen_vistas_path(:id=>py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline" %> 
        <% else %>    
            <%= link_to 'Ver', resumen_vistas_path(:id=>py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline",  data:{turbo_frame: 'pycontent'}  %> 
        <% end %>                            
    </td>
</tr>
<%= render "proyectos/rw_enlace_mod", py: py %> 