<%
    sig = true
    p = py
    tmp_py = p
    item_count = 0
    while sig do
        if !Proyecto.where(raiz:tmp_py.id).last.nil?           
            p_item = Proyecto.find(Proyecto.where(raiz:tmp_py.id).last.id)
            tmp_py = p_item
            item_count = item_count + 1
            @resp = tmp_py.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio
%>

            <tr class="itempy-<%= py.id %> bg-white dark:bg-gray-900 dark:border-gray-700 box" 
                id="<%= py.id %>">
                  <td colspan="2" style="text-align: center;">
                       <div class="text-red-700 ml-2 font-semibold"> Modificación <%= item_count %> </div>                               
                  </td>
                  <th scope="row" class="p-2 font-medium text-gray-900  dark:text-white" style="text-align: justify;">
                             
                  </th>
                  <td class="p-2" style="text-align: center;">
                       <% if tmp_py.etapas.any? %>   
                          <% if tmp_py.etapas.includes(:tevento).where('teventos.clave':'REV').any? %>   
                             <%= tmp_py.etapas.includes(:tevento).where('teventos.clave':'REV').first.created_at.strftime("%d-%m-%Y %H:%M ")  %>
                           <% end %>  
                        <% end %>  

                  </td>
                  <td class="p-2" style="text-align: center;">
                        <%= @resp %>
                  </td>
                  
                  <td class="p-2" style="text-align: center;">
                        <%= render 'vistas/util/elestado', proyecto:tmp_py %>
                  </td>
                  <td class="p-2" style="text-align: center;">
                        <% if tmp_py.etapas.last.tevento.clave == 'CAP' %> 
                          <!--
                              <%= link_to 'Editar', resumen_vistas_path(:id=>tmp_py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline" %> 
                          -->
                          <%= link_to 'Ver', resumen_vistas_path(:id=>tmp_py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline",  data:{turbo_frame: 'pycontent'}  %>     
                        <% else %>    
                              <%= link_to 'Ver', resumen_vistas_path(:id=>tmp_py.id), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline",  data:{turbo_frame: 'pycontent'}  %> 
                        <% end %>                            
                  </td>
            </tr>
    <% else
            sig = false   
        end
    end
%>