<div class="pdf-data">

   <%= render partial: '/proyectos/pdf/ficha_head', formats:[:html] %>

   <%= render partial: '/proyectos/pdf/proyecto', formats:[:html], locals:{proyecto:@proyecto} %>

   <%= render partial: '/proyectos/pdf/presupuesto', formats:[:html], locals:{proyecto:@proyecto} %>

   <%= render partial: '/proyectos/pdf/ficha_foot', formats:[:html], locals:{proyecto:@proyecto} %>
   
   <%= render partial: '/proyectos/pdf/metas', formats:[:html], locals:{proyecto:@proyecto} %>

   <% if current_usuario.cuenta.rol.clave == 'EL' %>
        <%= render partial: '/proyectos/pdf/firmas', formats:[:html], locals:{proyecto:@proyecto} %>
   <% end %>

</div>