<div class="border-t-2 border-gray-100 p-2">
       <%= form_with(model:@meta) do |form| %>
                <% if controller.action_name == 'new' %> 
                     <%= form.hidden_field :proyecto_id, value:@proyecto.id %>
                <% end %>
                

                <div class="md:items-center mb-3">
                        <div class="md:w-1/5">
                          <%= form.label :esperado, 'Producto Esperado:', class:'font-semibold' %>
                        </div>
                        <div class="md:w-4/5">
                          <%= form.text_area :esperado, size: '80x8',
                                                  class:'appearance-none border-2 border-gray-200 rounded 
                                                        w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'%>
                        </div>
                </div>

                <div class="md:items-center mb-3">
                        <div class="md:w-1/5">
                          <%= form.label :impacto, 'Impacto:', class:'font-semibold' %>
                        </div>
                        <div class="md:w-4/5">
                          <%= form.text_area :impacto, size: '80x8',
                                                  class:'appearance-none border-2 border-gray-200 rounded 
                                                        w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'%>
                        </div>
                 </div>

                 <div class="md:items-center mb-3">
                        <div class="md:w-1/5">
                          <%= form.label :comentario, 'Observaciones:', class:'font-semibold' %>
                        </div>
                        <div class="md:w-4/5">
                          <%= form.text_area :comentario, size: '100x8',
                                                  class:'appearance-none border-2 border-gray-200 rounded 
                                                        w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'%>
                        </div>
                 </div>

             
                 
                <div class="md:flex md:items-center mb-3 justify-end">
                    <% if controller.action_name == 'new'  || controller.action_name == 'create' %>
                    
                        <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                                data-turbo-frame= 'py_content_action' >
                                
                                <span class="ml-2">Guardar</span>
                                <%= inline_svg_tag 'svg/disco.svg', class:"ml-2" %> 
                            
                        </button>
                    <% end %>
                    <% if controller.action_name == 'edit' %>
                         <%= link_to meta_path(@meta), 
                                    class:"mr-3 text-white bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800",
                                    data: { turbo_frame: "py_content_secc", action:"click->menusecc#itemaction" } do %>  
                                   Cancelar
                        <% end %>   
                        <button type="submit" class="text-white bg-green-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                                 data-turbo-frame= 'py_content_action' >
                            Aplicar cambios
                        </button>
                    <% end %>    
                
                </div>
 
        <% end %>
</div>        