

<%= turbo_frame_tag "py_content_sub" do %>
 <div style="display:flex; flex-direction:column;">  
     <div class="mt-3 p-3 font-semibold text-sm w-full" style="display:flex; justify-content: center;">Avances del proyecto</div>

     <div class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
         <div class="text-sm p-1" style="display:flex;">
            <div class="w-1/2" style="display: flex;"> 
                  <% if current_usuario.cuenta.rol.clave == 'PLAN' %>   
                        <%= link_to resumen_vistas_path(:id=>@proyecto.id), data:{turbo_frame: "py_content_sub"} do %>
                              <div class="w-1/2 font-semibold text-blue-800" style="display: flex; align-items: center;">
                                    <div><%= inline_svg_tag 'svg/regresar.svg' %></div>  
                                    <div>Regresar</div>
                              </div>
                        <% end %>  
                  <% end %>      
              </div>  
              <div class="w-1/2 justify-end" style="display: flex;"> 
                   <% if current_usuario.cuenta.rol.clave == 'CAP' %>
                        <% if @proyecto.etapas.last.tevento.clave != 'FIN' %>  <!-- Se agrego para permitir cargar. ultima condicion  -->
                              <%= link_to new_proyecto_avance_path(@proyecto), data:{turbo_frame: "py_content_sub"} do %>
                                    <div class="flex font-semibold" style="justify-content: center;align-items: center;">
                                          <div><%= inline_svg_tag 'svg/mas-blue.svg' %></div> 
                                          <div class="ml-2 font-semibold text-blue-800">Registra nuevo avance</div>
                                    </div>
                              <% end %>   
                        <% end %>      
                   <% end %>   
               </div>    
               
         </div>        

         <div class="mt-5">  
                  <%= render 'index' %>
         </div>    
     </div>    
 </div>
<% end %>