 <% if @proyecto.validaciones.includes(:tvalidacion).where('tvalidaciones.clave':'SOLV').any? %> 
       <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-800" role="alert">
             <span class="font-medium">El proyecto se encuentra abierto para Evaluación.
                       La solicitud se hizo en la <strong>fecha: <%= @proyecto.validaciones.includes(:tvalidacion).where('tvalidaciones.clave':'SOLV').last.created_at.strftime("%d-%m-%Y")  %></strong></span>
       </div>          
<% end %>  
  

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead class="text-medium text-gray-700 bg-gray-200 dark:bg-gray-800 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Estado validación
                </th>
                 <th scope="col" class="px-6 py-3 text-center">
                    Fecha de solicitud
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Fecha límite
                </th>
                
            </tr>
        </thead>
        <tbody>

          <% @evaluadores.each do |e| %>
                <tr class="bg-white">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                         <%= e.persona.nom_espacio %>
                    </th>
                    <td class="px-6 py-4 text-center">
                         <%= render 'estadoval', proyecto:@proyecto, evaluador:e %> 
                    </td>
                    <td class="px-6 py-4 text-center">
                         <%= @proyecto.solicitud.fecha_sol.strftime('%d-%m-%Y') %>
                    </td>
                    <td class="px-6 py-4 text-center">
                         <%= @proyecto.solicitud.fecha_lim.strftime('%d-%m-%Y') %>
                    </td>
                </tr>
                
                
                <tr class="font-medium border-b dark:bg-gray-800 dark:border-gray-700">
                     <th  class="px-8" scope="row" colspan="4">
                            <%  if @proyecto.validaciones.any? %>
                                    <% if !@proyecto.validaciones.where(evaluador_id:e.id).last.nil? %> 
                                             <% if !@proyecto.validaciones.where(evaluador_id:e.id).last.txtval.nil? %>  
                                                     Comentarios: <%=  @proyecto.validaciones.where(evaluador_id:e.id).last.txtval %>
                                             <% end %>       
                                    <% else %>   
                                                
                                    <% end %>
                            <% end %>        
                     </td>
                </tr>

                
          <% end %>      
          
        </tbody>
    </table>
</div>