 <% if @proyecto.validaciones.includes(:tvalidacion).where('tvalidaciones.clave':'SOLV').any? %> 
       <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-800" role="alert">
             <p class="mb-2"><strong>Nombre del Proyecto:</strong> <%= @proyecto.nombre %> </p>
             <span class="font-medium">El proyecto se encuentra <strong>abierto para Evaluación.</strong>
                       La solicitud se hizo en la <strong>fecha: <%= @proyecto.validaciones.includes(:tvalidacion).where('tvalidaciones.clave':'SOLV').last.created_at.strftime("%d-%m-%Y")  %></strong></span>
       </div>          
<% end %>  

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5" data-controller="valcomm">
    <div>
       <button type="button" id="btn_upvista" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" data-action="click->valcomm#updateVista">Actualizar Vista</button>
   </div>
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead class="text-medium text-gray-700 bg-gray-200 dark:bg-gray-800 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Estado validación
                </th>
                 <th scope="col" class="px-6 py-3 text-center">
                    Fecha de solicitud
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Fecha límite
                </th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>

          <% @evaluadores.each do |e| %>
                <tr class="bg-white">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                         <%= e.persona.nom_espacio %>
                    </th>
                    <td class="px-6 py-4 text-center">
                         <%= render 'estadoval', proyecto:@proyecto, evaluador:e %> 
                    </td>
                    <td class="px-6 py-4 text-center">
                         <%= @proyecto.solicitud.fecha_sol.strftime('%d-%m-%Y') %>
                    </td>
                    <td class="px-6 py-4 text-center">
                         <%= @proyecto.solicitud.fecha_lim.strftime('%d-%m-%Y') %>
                    </td>
                    <td class="text-center p-1">
                        <%= render 'validaciones/menu_rw', evl:e %>  
                    </td>
                </tr>
                                   
                <tr id="com-<%= e.id %>" class="font-medium border-b dark:bg-gray-800 dark:border-gray-700" style="display:none;">
                     <td class="px-8" scope="row" colspan="5">
                           <div class="mb-3 p-5 border">
                                <%  if @proyecto.validaciones.any? %>
                                        <% if !@proyecto.validaciones.where(evaluador_id:e.id).last.nil? %> 
                                                <% if !@proyecto.validaciones.where(evaluador_id:e.id).last.txtval.nil? %>  
                                                        Comentarios: <%=  @proyecto.validaciones.where(evaluador_id:e.id).last.txtval %>
                                                <% end %>       
                                        <% end %>
                                <% end %>
                           </div>     
                     </td>
                </tr>
                
          <% end %>      
          
        </tbody>
    </table>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5 p-3 mb-3" data-controller="valcomm">
    <div class="w-full p-3 text-blue-600 text-center bg-gray-200">
       Mensaje enviado
   </div>
   <div>
        
   </div>
   <div> 
       <%= @proyecto.validaciones.first.txtval %>
   </div>
</div>