     <div class="md:flex md:items-center mb-3"> 
          <div class="md:w-1/5 font-semibold">
                    <span class="block  md:text-right mb-1 md:mb-0 pr-4">Nombre del proyecto: </span>
          </div>
          <div id="div_file" class="md:w-2/5" data-controller="upsf">
                    <%= @proyecto.nombre %>
          </div>
     </div>  
     <div class="md:flex md:items-center mb-3"> 
          <div class="md:w-1/5 font-semibold">
                    <span class="block  md:text-right mb-1 md:mb-0 pr-4">Institución, Gobierno o Empresa: </span>
          </div>
          <div id="div_file" class="md:w-2/5" data-controller="upsf">
                    <%= @proyecto.fuente.nomfuente %>
          </div>
     </div>  
     <div class="md:flex md:items-center mb-3"> 
          <div class="md:w-1/5 font-semibold">
                    <span class="block  md:text-right mb-1 md:mb-0 pr-4">Responsable: </span>
          </div>
          <div id="div_file" class="md:w-2/5" data-controller="upsf">
                    <%= @proyecto.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio %>
          </div>
     </div>  
     <% if !@numreg.nil? %> 
          <div class="md:flex md:items-center mb-3"> 
               <div class="md:w-1/5 font-semibold">
                    <span class="block  md:text-right mb-1 md:mb-0 pr-4">Número de registro: </span>
               </div>
               <div id="div_file" class="md:w-2/5" data-controller="upsf">
                    <%= @numreg %>
               </div>
          </div>   
     <% end %>
    

     <%= form_with(model: @validacion) do |form| %>
          <%= form.hidden_field :proyecto_id, value:@proyecto.id %>
          <%= form.hidden_field :evaluador_id, value:Evaluador.where(persona_id:current_usuario.cuenta.persona_id).first.id %>
          <%= form.hidden_field :tvalidacion_id, value:@tvalidacion%>
          <!--
          <div class="md:flex md:items-center mb-3"> 
               <div class="md:w-1/5 font-semibold">
                         <%= form.label :docficha, 'Documento:', class:'block  md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
               </div>
               <div id="div_file" class="md:w-2/5" data-controller="trix upsf">
                         <%= form.file_field :docficha, class:'item_file', direct_upload: true, data: { upsf_target: "input", action: "change->upsf#uploadFile"} %>
               </div>
          </div>    
          -->
          <% if current_usuario.cuenta.rol.clave == 'EL' %>
                 <div class="md:flex md:items-center mb-3"> 
                    <div class="md:w-1/5 font-semibold">
                              <%= label_tag 'Fecha solicitud:',nil, class: 'block  md:text-right mb-1 md:mb-0 pr-4' %>
                    </div>
                    <div id="div_file" class="md:w-2/5" data-controller="upsf">
                              <%= date_field_tag 'fsol', nil, class: '', value:@fecha_inicial %>
                    </div>
                 </div>    
                 <div class="md:flex md:items-center mb-3"> 
                    <div class="md:w-1/5 font-semibold">
                              <%= label_tag 'Fecha límite:',nil, class: 'block  md:text-right mb-1 md:mb-0 pr-4' %>
                    </div>
                    <div id="div_file" class="md:w-2/5" data-controller="upsf">
                              <%= date_field_tag 'flim', nil, class: '', value:@fecha_limite %>
                    </div>
                 </div>    
                 <div class="md:flex md:items-center mb-3">
                     <div class="md:w-1/5 font-semibold">
                              
                         </div>
                     <div class="w-4/5">
                               <%= render 'marchivos/wrapvalida', form:form, tipo:'evalidael' %>  
                     </div>
                 </div>
          <% end %>

          <div class="md:flex md:items-center mb-3"> 
                    <div class="md:w-1/5 ">
                         <%= form.label :txtval, 'Comentarios:', class:'block font-semibold md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                    </div>
                    <div class="md:w-4/5" data-controller="trix">
                         <%= form.rich_text_area :txtval, class:'trix-editor bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 leading-tight focus:outline-none focus:bg-white focus:border-purple-500',  data: { trix_target: 'editor' }%>
                    </div>
          </div>


          <div class="md:flex md:items-center mb-5 justify-end">
               <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                         <%= inline_svg_tag 'svg/send.svg' %>
                         <div class="ml-2">Enviar</div>
               </button>
          </div>    
          
     <% end %>     
