<div class="p-4 mb-4 font-semibold text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 mt-2" role="alert">
    Proyecto Evaluado
</div>

<div class="relative overflow-x-auto p-5 flex justify-center">
    <table class="w-3/4 text-sm text-left text-gray-800 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">

                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Nombre del Proyecto
                </th>
                <td class="px-6 py-4">
                    <%= @proyecto.nombre %>
                </td>
            </tr>    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Responsable
                </th>
                <td class="px-6 py-4">
                    <%= @proyecto.participante.pacademicos.where(responsable:true).first.academico.persona.ap_nom_prop %>
                </td>
            </tr>    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Fecha Solicitud
                </th>
                <td class="px-6 py-4">
                    <%=
                        @proyecto.validaciones.includes(:tvalidacion).where('tvalidaciones.clave':'SOLV').last.created_at.strftime("%d-%m-%Y")
                    %>
                </td>
            </tr>    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Fecha Validación
                </th>
                <td class="px-6 py-4">
                    <%= @validacion.created_at.strftime('%d-%m-%Y') %>
                </td>
            </tr>    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Validación
                </th>
                <td class="px-6 py-4">
                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">
                          <%= @validacion.tvalidacion.nomtvalidacion %>
                    </span>      
                </td>
            </tr>    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Observaciones
                </th>
                <td class="px-6 py-4">
                    <%= @validacion.txtval %>
                </td>
            </tr>    
           
        </tbody>
    </table>
</div>
