<div style="width:100%; background-color: #e4e4e4; padding:5px 0; margin-top:2px;">
   <table style=" width:100%; background-color: #e4e4e4; padding:5px 0;">
         <tr>
             <td style="width:15%; font-weight: bold;">Productos Esperados</td>
             <td style="width:75%; background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;"><%= @proyecto.meta.esperado %></td>
         </tr>
         <tr>
             <td style="width:15%; font-weight: bold;">Impacto</td>
             <td style="width:75%; background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;"><%= @proyecto.meta.impacto %></td>
         </tr>
   </table>
</div>   

<div style="width:100%; background-color: #e4e4e4; padding:2px 0;">
        <div style="font-weight: bold; background-color: #909090; padding:7px 0;">Desglose de Recursos Financiados por la Institución, Gobierno o Empresa</div>
        <div style="font-weight: bold; margin-top:10px;"></div>
        <div>
              <%= render partial: '/proyectos/pdf/solicitado', formats:[:html], locals:{items:@proyecto.presupuesto.solicitados} %>
        </div>    
</div>        


<div style="width:100%; background-color: #e4e4e4; padding:2px 0;">
   <div style="font-weight: bold; background-color: #909090; padding:7px 0;">Desglose de Recursos Aportados por el INECOL</div>
   
   <div style="font-weight: bold; margin-top:10px;">Fondos Fiscales</div>

   <div>
         <% if !@proyecto.recurso.nil? %> 
             <%= render partial: '/proyectos/pdf/recursos', formats:[:html], locals:{items:@proyecto.recurso.fiscales} %>
        <% end %>     
   </div>    

   <div style="font-weight: bold; margin-top:10px;">Fondos en Especie</div>

   <div>
         <% if !@proyecto.recurso.nil? %> 
            <%= render partial: '/proyectos/pdf/recursos', formats:[:html], locals:{items:@proyecto.recurso.especies} %>
         <% end %>   
   </div>   

   <div style="font-weight: bold; margin-top:10px;">Fondos Concurrentes</div>
   <div>
        <% if !@proyecto.recurso.nil? %> 
             <%= render partial: '/proyectos/pdf/recursos', formats:[:html], locals:{items:@proyecto.recurso.concurrentes} %>
        <% end %>     
   </div>   
    
   <%
       total = 0.0
        if !@proyecto.recurso.nil?
                if @proyecto.recurso.fiscales.any?
                        total += @proyecto.recurso.fiscales.sum(:monto)
                end
                if @proyecto.recurso.especies.any?
                        total += @proyecto.recurso.especies.sum(:monto)
                end
                if @proyecto.recurso.concurrentes.any?
                        total += @proyecto.recurso.concurrentes.sum(:monto)
                end
        end        
   %>

   <%= render partial: '/proyectos/pdf/recurso_total', formats:[:html], locals:{gtotal:total} %>

</div> 
<div style="width:100%;height: 80px;  background-color: #e4e4e4; padding:5px 0;">
          
</div>  