<div style="width:100%; background-color: #e4e4e4; padding:5px 0;">
   <table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
       <tr>
           <td style="width:50%; background-color: #9a9a9a;">
                 <table style="width:100%">
                       <tr>
                            <td><strong>Presupuesto</strong></td>
                       </tr>
               
                      <% @proyecto.presupuesto.solicitados.each do |prep| %>
                             <tr>
                                 <td style="width:35%;"> <%= prep.capitulo.nomcapitulo %> </td>
                                 <td style="width:3%; text-align:right;">$</td>
                                 <td style="width:5%; text-align:right;"> <%= number_to_currency(prep.monto, :unit => "") %> </td>
                             </tr>
                      <% end %>         
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> Subtotal </td>
                                 <td style="width:3%; text-align:right;">$</td>
                                 <td style="width:5%; text-align:right;"> <%= number_to_currency(@proyecto.presupuesto.solicitados.sum(:monto), :unit => "") %> </td>
                      </tr> 
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> <span style="margin-left:60px;">20% Overhead</span> </td>
                                 <td style="width:3%; text-align:right;">$</td>
                                 <td style="width:5%; text-align:right;"> <%= number_to_currency(@proyecto.presupuesto.overhead, :unit => "") %> </td>
                      </tr>
                       <tr>
                                 <td style="width:35%; font-weight: bold;"> <span style="margin-left:60px;">10% Estímulos</span> </td>
                                 <td style="width:3%; text-align:right;">$</td>
                                 <td style="width:5%; text-align:right;"> <%= number_to_currency(@proyecto.presupuesto.estimulo, :unit => "") %> </td>
                      </tr>
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> Subtotal </td>
                                 <td style="width:3%; text-align:right;">$</td>
                                 <td style="width:5%; text-align:right;"> <%=  number_to_currency(@proyecto.presupuesto.costo,:unit => "") %> </td>
                      </tr> 
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> IVA (en su caso) </td>
                                 <td style="width:3%; text-align:right;">$</td>
                                 <td style="width:5%; text-align:right;"> <%=  number_to_currency(@proyecto.presupuesto.iva,:unit => "") %> </td>
                      </tr>
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> Total </td>
                                 <td style="width:3%; text-align:right;">$</td>
                                 <td style="width:5%; text-align:right;"> <%=  number_to_currency(@proyecto.presupuesto.tproyecto,:unit => "") %> </td>
                      </tr>
                      
                     
                      
                 </table>
           </td>
           <td style="width:50%; text-align:center; ">
                  <table style="width:100%">
                         <tr>
                             <td style='width:10%'></td>
                             <td style="width:40%; text-align:left; "><strong>Periodo de ejecución</strong></td>
                         </tr>
                         <tr>
                             <td style='width:10%'></td>
                             <td style="width:40%; text-align:center; background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;"><%= @proyecto.periodo %></td>
                         </tr>
                  </table>      
                  <table style="width:100%; margin-top:20px;">
                         <tr>
                             <td style='width:10%'></td>
                             <td style="width:5%; text-align:left; "><strong>Aceptado</strong></td>
                             <td style="width:10%; text-align:left; background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;">  </td>
                             
                             <td style="width:5%; text-align:left; "><strong>No Aceptado</strong></td>
                             <td style="width:10%; text-align:left; background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;">  </td>
                         </tr>

                  </table>
           </td>

       </tr>
   </table> 
</div>