<div style="width:100%; background-color: #e4e4e4; padding:5px 0;">
   <table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
       <tr>
           <td style="width:50%; background-color: #9a9a9a;">
                 <table style="width:100%">
                       <tr>
                            <td><strong>Presupuesto</strong></td>
                       </tr>
                       <% if @proyecto.clasificacion.clave == 'SNREC' %>
                                    <tr>
                                        <td style="width:35%;"> </td>
                                        <td style="width:3%; text-align:right;"><%=  @proyecto.presupuesto.moneda.clave %> <span>$</span></td>
                                        <td style="width:5%; text-align:right;"> 0.00 </td>
                                    </tr>
                       <% else %>
                            <% @proyecto.presupuesto.solicitados.each do |prep| %>
                                    <tr>
                                        
                                        <td style="width:35%;"> <%= prep.capitulo.nomcapitulo %> </td>
                                        <td style="width:3%; text-align:right;"><%=  @proyecto.presupuesto.moneda.clave %> <span>$</span></td>
                                        <td style="width:5%; text-align:right;"> <%= number_to_currency(prep.monto, :unit => "") %> </td>
                                    </tr>
                            <% end %>     
                       <% end %> 
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> Subtotal </td>
                                 <td style="width:3%; text-align:right;"><%=  @proyecto.presupuesto.moneda.clave %> <span>$</span></td>
                                 <td style="width:5%; text-align:right;"> <%= number_to_currency(@proyecto.presupuesto.solicitados.sum(:monto), :unit => "") %> </td>
                      </tr> 
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> <span style="margin-left:60px;">20% Overhead</span> </td>
                                 <td style="width:3%; text-align:right;"><%=  @proyecto.presupuesto.moneda.clave %> <span>$</span></td>
                                 <td style="width:5%; text-align:right;"> 
                                    <% if !@proyecto.presupuesto.overhead.nil? %>
                                           <%= number_to_currency(@proyecto.presupuesto.overhead, :unit => "") %> </td>
                                    <% else %>   
                                            0.00
                                    <% end %>
                      </tr>
                       <tr>
                                 <td style="width:35%; font-weight: bold;"> <span style="margin-left:60px;">10% Estímulos</span> </td>
                                 <td style="width:3%; text-align:right;"><%=  @proyecto.presupuesto.moneda.clave %> <span>$</span></td>
                                 <td style="width:5%; text-align:right;">
                                     <% if !@proyecto.presupuesto.estimulo.nil? %>
                                         <%= number_to_currency(@proyecto.presupuesto.estimulo, :unit => "") %> 
                                     <% else %>    
                                          0.00
                                     <% end %>    
                                 </td>    
                      </tr>
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> Subtotal </td>
                                 <td style="width:3%; text-align:right;"><%=  @proyecto.presupuesto.moneda.clave %> <span>$</span></td>
                                 <td style="width:5%; text-align:right;"> <%=  number_to_currency(@proyecto.presupuesto.costo,:unit => "") %> </td>
                      </tr> 
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> IVA (en su caso) </td>
                                 <td style="width:3%; text-align:right;"><%=  @proyecto.presupuesto.moneda.clave %> <span>$</span></td>
                                 <td style="width:5%; text-align:right;"> 
                                      <% if !@proyecto.presupuesto.iva.nil? %>
                                           <%= number_to_currency(@proyecto.presupuesto.iva,:unit => "") %> 
                                      <% else %>     
                                            0.00
                                      <% end %>
                                 </td>     
                      </tr>
                      <tr>
                                 <td style="width:35%; font-weight: bold;"> Total </td>
                                 <td style="width:3%; text-align:right;"><%=  @proyecto.presupuesto.moneda.clave %> <span>$</span></td>
                                 <td style="width:5%; text-align:right;">
                                     <% if !@proyecto.presupuesto.tproyecto.nil? %>      
                                          <%=  number_to_currency(@proyecto.presupuesto.tproyecto,:unit => "") %> 
                                     <% else %>     
                                          0.00
                                     <% end %>  
                            </td>
                      </tr>
                      
                     
                      
                 </table>
           </td>
           <td style="width:50%; text-align:center; ">
                  <table style="width:100%">
                         <tr>
                             <td style='width:10%'></td>
                             <td style="width:40%; text-align:left; "><strong>Periodo de ejecución</strong></td>
                         </tr>
                         <tr>
                             <td style='width:10%'></td>
                             <td style="width:40%; text-align:center; background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;"><%= @proyecto.periodo %></td>
                         </tr>
                  </table>      
                  <table style="width:100%; margin-top:20px;">
                         <tr>
                             <td style='width:10%'></td>
                             <td style="width:5%; text-align:left; "><strong>Aceptado</strong></td>
                             <td style="width:10%; text-align:center; background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;"> 
                                       <% if @proyecto.enlaces.last.enevento.clave == 'DICT' ||  @proyecto.enlaces.last.enevento.clave == 'FIR' %>             
                                             <%  if @proyecto.dictamen.tvalidacion.clave == 'ACEP' %>
                                                     <span class="font-semibold"> X </span>
                                             <% end %>   
                                       <% end %>
                              </td>
                             
                             <td style="width:5%; text-align:left; "><strong>No Aceptado</strong></td>
                             <td style="width:10%; text-align:left; background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;">
                                      <% if @proyecto.enlaces.last.enevento.clave == 'DICT' || @proyecto.enlaces.last.enevento.clave == 'FIR' %>             
                                             <%  if @proyecto.dictamen.tvalidacion.clave == 'REC' %>
                                                     <span class="font-semibold"> X </span>
                                             <% end %>   
                                       <% end %>
                             </td>
                         </tr>

                  </table>
           </td>

       </tr>
   </table> 
</div>