<table style="width:100%; background-color: #e4e4e4;">
 <tr>
     <td>
          <table> 
            <tr>
              <td > 
                    <table style="border: 1px solid black; border-spacing: 5px;">
                              <tr>   
                                   <td>Por Convocatoria</td>
                                   <td style="width:50px;  background-color: #ffffff;"></td>
                                   <td >Por Demanda</td>
                                   <td style="width:50px;  background-color: #ffffff;"></td>
                                   <td>Por Iniciativa Propia</td>
                                   <td style="width:50px;  background-color: #ffffff;"></td>
                              </tr>
                    </table>
               </td>
               <td >
                    <table style="border: 1px solid black; border-spacing: 5px;">
                              <tr>
                                   <td>Básico</td>
                                   <td style="width:50px;  background-color: #ffffff;"></td>
                                   <td>Aplicado</td>
                                   <td style="width:50px;  background-color: #ffffff;"></td>
                              </tr>
                    </table>

               </td>
             </tr>  
          </table>     
     </td>          
     <td>
          <table> 
             <tr> 
                                   <td>Transferencia de Conocimiento </td>
                                   <td style="width:50px;  background-color: #ffffff;"></td>
             </tr> 
             <tr>
                                   <td>Interinstitucional</td>
                                   <td style="width:50px;  background-color: #ffffff;"></td>
             </tr>  
          </table>     
     </td>
 </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0;">Nombre del Proyecto</td>
        <td style="padding: 5px 0; width:85%; background-color: #ffffff;"></td>
    </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0;">Objetivo</td>
        <td style="padding: 5px 0; width:85%; background-color: #ffffff;"></td>
    </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0;">Institución, Gobierno o Empresa</td>
        <td style="padding: 5px 0; width:35%; background-color: #ffffff;"></td>

        <td style="padding: 5px 0;">Nacional</td>
        <td style="padding: 5px 0; width:10%; background-color: #ffffff;"></td>

        <td style="padding: 5px 0;">Estado</td>
        <td style="padding: 5px 0; width:10%; background-color: #ffffff;"></td>

        <td style="padding: 5px 0;">Extranjera</td>
        <td style="padding: 5px 0; width:10%; background-color: #ffffff;"></td>

    </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0;">Nombre Contacto Contraparte</td>
        <td style="padding: 5px 0; width:50%; background-color: #ffffff;"></td>

        <td style="padding: 5px 0;">Correo Electrónico</td>
        <td style="padding: 5px 0; width:20%; background-color: #ffffff;"></td>
    </tr>
</table>


<div style="width:100%; background-color: #e4e4e4; padding:5px 0;">
<table style="width:90%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="width:60%;">
           <table style="width:100%;">
                    <tr>
                        <td> Participantes del INECOL: </td>
                        <td style="text-align: right; padding-right: 10px;"> Porc </td>
                    </tr>
                    <tr>
                         <td style="vertical-align: top;">
                              Investigadores
                         </td>   

                         <td style="vertical-align: top;">
                              <table style="width:100%;">
                                   <tr><td>ddddddddddddddddddddddddddddd</td>
                                        <td style="text-align: center;">50%</td>
                                   </tr>    
                                  
                              </table>
                         </td>   
                    </tr>
                    <tr>
                         <td style="vertical-align: top;">
                              Técnicos
                         </td>   

                         <td style="vertical-align: top;">
                              <table style="width:100%;">
                                   <tr><td>ddddddddddddddddddddddddddddd</td>
                                        <td style="text-align: center;">50%</td>
                                   </tr>    
                                    
                              </table>
                         </td>   
                    </tr>
                    <tr>
                         <td style="vertical-align: top;">
                              Estudiantes
                         </td>   

                         <td style="vertical-align: top;">
                              <table style="width:100%;">
                                   <tr><td>ddddddddddddddddddddddddddddd</td>
                                   </tr>    
                                  
                              </table>
                         </td>   
                    </tr>
               </table>      
          </td>     
          <td style="vertical-align: top;">DDDDDD</td>
     </tr>     
</table>

</div>

<div style="width:100%; background-color: #e4e4e4; padding:5px 0;">
   <table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
       <tr>
           <td>
               dfsdf
           </td>
           <td>
              sdfsd
           </td>

       </tr>
   </table> 
</div>



<table class="styled-table">
      <tr>
           <td> <strong> Nombre del Proyecto: </strong></td>
           <td> <%= proyecto.nombre %> </td>
      </tr>
      <tr>
           <td> <strong> Objetivo: </strong></td>
           <td> <%= proyecto.objetivo %> </td>
      </tr>
      <tr>
           <td> <strong> Tipo de Proyecto: </strong></td>
           <td> <%= proyecto.clasificacion.nomclasifica %> </td>
      </tr>
      <tr>
           <td> <strong> Overhead: </strong></td>
           <td> <% if proyecto.overhead %>
                        SI
                  <% else%>
                        NO
                  <% end %> 
            </td>
      </tr>
      <tr>
           <td> <strong> Tipo Medio: </strong></td>
           <td> <%= proyecto.medio.nommedio %> </td>
      </tr>
      <% if proyecto.medio.clave == 'CONV' %>
            <tr>
                <td> <strong>Convocatoria:</strong> </strong></td>
                <td> 
                        <table>
                               <tr>
                                  <td>Nombre:</td>
                                  <td><%= proyecto.mconvocatoria.nomconvocatoria %> </td>
                               </tr>
                               <tr>
                                  <td> Enlace:</td>
                                  <td><%= proyecto.mconvocatoria.link %> </td>
                               </tr>
                        </table>
                </td>
            </tr>
       <% end %>   
       <tr>
           <td> <strong> Tipo Investigación: </strong></td>
           <td> <%= proyecto.linea.nomlinea %> </td>
      </tr>  
      <tr>
           <td> <strong> Periodo: </strong></td>
           <td> <%= proyecto.periodo %> </td>
      </tr>
      <tr>
           <td> <strong> Transferencia de Conocimiento: </strong></td>
           <td> <% if proyecto.tfconoc %>
                    SI
                <% else%>
                    NO
                <% end %> </td>
      </tr>
      <tr>
           <td> <strong> Interinstitucional: </strong></td>
           <td> <% if proyecto.interinst %>
                    SI
                <% else%>
                    NO
                <% end %>
           </td>
      </tr>
      <% if proyecto.interinst %>
           <% proyecto.instituciones.each do |inst| %>
                  <tr><td></td><td> <%= inst.nominstitucion %> </td></tr>
           <% end %>
      <% end %>
      
   </table>