<table style="width:100%; background-color: #e4e4e4;">
 <tr>
     <td>
          <table> 
            <tr>
              <td > 
                    <table style="border: 1px solid black; border-spacing: 5px;">
                              <tr>   
                                   <td>Por Convocatoria</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff;">
                                       <% if @proyecto.medio.clave == 'CONV' %>
                                              <span> <strong>X</strong> </span>
                                       <% end %>
                                   </td>
                                   <td >Por Demanda</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff;">
                                           <% if @proyecto.medio.clave == 'DEM' %>
                                              <span> <strong>X</strong> </span>
                                           <% end %>
                                   </td>
                                   <td>Por Iniciativa Propia</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff;">
                                          <% if @proyecto.medio.clave == 'PROP' %>
                                                <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
                              </tr>
                    </table>
               </td>
               <td >
                    <table style="border: 1px solid black; border-spacing: 5px;">
                              <tr>
                                   <td>Básico</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff;">
                                          <% if @proyecto.linea.clave == 'AP' %>
                                                <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
                                   <td>Aplicado</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff;">
                                            <% if @proyecto.linea.clave == 'BA' %>
                                                   <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
                              </tr>
                    </table>

               </td>
             </tr>  
          </table>     
     </td>          
     <td>
          <table> 
             <tr> 
                                   <td>Transferencia de Conocimiento </td>
                                   <td style="width:50px; text-align:center; background-color: #ffffff;">
                                            <% if @proyecto.tfconoc %>
                                                <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
             </tr> 
             <tr>
                                   <td>Interinstitucional</td>
                                   <td style="width:50px; text-align:center; background-color: #ffffff;">
                                          <% if @proyecto.interinst == 'AP' %>
                                                <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
             </tr>  
          </table>     
     </td>
 </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0;">Nombre del Proyecto</td>
        <td style="padding: 5px 0; width:85%; background-color: #ffffff;">
                  <%= @proyecto.nombre %>
        </td>
    </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0;">Objetivo</td>
        <td style="padding: 5px 0; width:85%; background-color: #ffffff;">
               <%= @proyecto.objetivo %>
        </td>
    </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0;">Institución, Gobierno o Empresa</td>
        <td style="padding: 5px 0; width:55%; background-color: #ffffff;">
                 <%= @proyecto.fuente.nomfuente %>
        </td>
       
        <% if @proyecto.fuente.nacionalidad.clave == 'NAC' %>
                         <td style="padding: 5px 0;">Nacional</td>
                         <td style="padding: 5px 0; text-align:center; width:5%; background-color: #ffffff;">
                                   <span> <strong>X</strong> </span>
                         </td>

                         <td style="padding: 5px 0;">Estado</td>
                         <td style="padding: 5px 0; width:10%; background-color: #ffffff;">
                                   <span> <strong>  <%= @proyecto.fuente.lugar.nomlugar %> </strong> </span>
                         </td>
        <% end %>
         <% if @proyecto.fuente.nacionalidad.clave == 'EXT' %>
                         <td style="padding: 5px 0;">Extranjera</td>
                         <td style="padding: 5px 0; text-align:center; width:5%; background-color: #ffffff;">
                                   <span> <strong>X</strong> </span>
                         </td>

                         <td style="padding: 5px 0;">País</td>
                         <td style="padding: 5px 0; width:10%; background-color: #ffffff;">
                                   <span> <strong>  <%= @proyecto.fuente.lugar.nomlugar %> </strong> </span>
                         </td>
        <% end %>
    </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0;">Nombre Contacto Contraparte</td>
        <td style="padding: 5px 0; width:50%; background-color: #ffffff;">
                   <span>  <%= @proyecto.fuente.nomcontacto %>  </span>
        </td>

        <td style="padding: 5px 0;">Correo Electrónico</td>
        <td style="padding: 5px 0; width:20%; background-color: #ffffff;">
                 <span>  <%= @proyecto.fuente.emailcontacto %>  </span>
        </td>
    </tr>
</table>


<div style="width:100%; background-color: #e4e4e4; padding:5px 0;">
<table style="width:90%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="width:60%;">
           <table style="width:100%;">
                    <tr>
                        <td> Participantes del INECOL: </td>
                        <td style="text-align: right; padding-right: 10px;"> Porc </td>
                    </tr>
                    <tr>
                         <td style="vertical-align: top;">
                              Investigadores
                         </td>   

                         <td style="vertical-align: top;">
                              <table style="width:100%;">
                                   <% @proyecto.participante.pacademicos.each do |acad| %>
                                          <tr><td> <%= acad.academico.persona.ap_nom_prop  %> </td>
                                               <td style="text-align: center;"> <%= acad.porcentaje  %></td>
                                          </tr>    
                                   <% end %>    
                                  
                              </table>
                         </td>   
                    </tr>
                    <tr>
                         <td style="vertical-align: top;">
                              Técnicos
                         </td>   

                         <td style="vertical-align: top;">
                              <table style="width:100%;">
                                   
                                     <% @proyecto.participante.ptecnicos.each do |tec| %>
                                          <tr><td> <%= tec.academico.persona.ap_nom_prop  %> </td>
                                               <td style="text-align: center;"> <%= tec.porcentaje  %></td>
                                          </tr>    
                                   <% end %>     
                                    
                              </table>
                         </td>   
                    </tr>
                    <tr>
                         <td style="vertical-align: top;">
                              Estudiantes
                         </td>   

                         <td style="vertical-align: top;">
                              <table style="width:100%;">
                                   <% @proyecto.participante.pestudiantes.each do |est| %>
                                          <tr><td> <%= est.nombre  %> </td>
                                          </tr>    
                                   <% end %>    
                              </table>
                         </td>   
                    </tr>
               </table>      
          </td>     
          <td style="vertical-align: top;">DDDDDD</td>
     </tr>     
</table>

</div>