<table style="width:100%; background-color:#efefef;">
 <tr>
     <td>
          <table> 
            <tr>
              <td > 
                    <table style="border: 1px solid #a9a9a9; border-spacing: 5px;">
                              <tr>   
                                   <td style="font-weight: bold;">Por Convocatoria</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff; border: 1px solid #a9a9a9;">
                                       <% if @proyecto.medio.clave == 'CONV' %>
                                              <span> <strong>X</strong> </span>
                                       <% end %>
                                   </td>
                                   <td style="font-weight: bold;">Por Demanda</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff; border: 1px solid #a9a9a9;">
                                           <% if @proyecto.medio.clave == 'DEM' %>
                                              <span> <strong>X</strong> </span>
                                           <% end %>
                                   </td>
                                   <td style="font-weight: bold;">Por Iniciativa Propia</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff; border: 1px solid #a9a9a9;">
                                          <% if @proyecto.medio.clave == 'PROP' %>
                                                <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
                              </tr>
                    </table>
               </td>
               <td >
                    <table style="border: 1px solid #a9a9a9; border-spacing: 5px;">
                              <tr>
                                   <td style="font-weight: bold;">Básico</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff; border: 1px solid #a9a9a9;">
                                          <% if @proyecto.linea.clave == 'AP' %>
                                                <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
                                   <td style="font-weight: bold;">Aplicado</td>
                                   <td style="width:50px; text-align: center; background-color: #ffffff; border: 1px solid #a9a9a9;">
                                            <% if @proyecto.linea.clave == 'BA' %>
                                                   <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
                              </tr>
                    </table>

               </td>
             </tr>  
          </table>     
     </td>          
     <td>
          <table> 
             <tr> 
                                   <td style="font-weight: bold;">Transferencia de Conocimiento </td>
                                   <td style="width:50px; text-align:center; background-color: #ffffff; border: 1px solid #a9a9a9;">
                                            <% if @proyecto.tfconoc %>
                                                <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
             </tr> 
             <tr>
                                   <td style="font-weight: bold;">Interinstitucional</td>
                                   <td style="width:50px; text-align:center; background-color: #ffffff; border: 1px solid #a9a9a9;">
                                          <% if @proyecto.interinst  %>
                                                <span> <strong>X</strong> </span>
                                          <% end %>
                                   </td>
             </tr>  
          </table>     
     </td>
 </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0; font-weight: bold;">Nombre del Proyecto</td>
        <td style="padding: 5px 0; width:85%; background-color: #ffffff; border: 1px solid #a9a9a9; padding: 5px;">
                  <%= @proyecto.nombre %>
        </td>
    </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0; font-weight: bold;">Objetivo</td>
        <td style="padding: 5px 0; width:85%; background-color: #ffffff; border: 1px solid #a9a9a9; padding: 5px;">
               <%= @proyecto.objetivo %>
        </td>
    </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0; font-weight: bold;">Institución, Gobierno o Empresa</td>
        <td style="padding: 5px 0; width:47%; background-color: #ffffff; border: 1px solid #a9a9a9; padding: 5px;">
                 <%= @proyecto.fuente.nomfuente %>
        </td>
       
        <% if @proyecto.fuente.nacionalidad.clave == 'NAC' %>
                         <td style="padding: 5px 0; font-weight: bold;">Nacional</td>
                         <td style="padding: 5px 0; text-align:center; width:5%; background-color: #ffffff; border: 1px solid #a9a9a9;">
                                   <span> <strong>X</strong> </span>
                         </td>

                         <td style="padding: 5px 0; font-weight: bold;">Estado</td>
                         <td style="padding: 5px 0; width:18%; background-color: #ffffff; border: 1px solid #a9a9a9; padding: 5px;">
                                   <span> <strong>  <%= @proyecto.fuente.lugar.nomlugar %> </strong> </span>
                         </td>
        <% end %>
         <% if @proyecto.fuente.nacionalidad.clave == 'EXT' %>
                         <td style="padding: 5px 0; font-weight: bold;">Extranjera</td>
                         <td style="padding: 5px 0; text-align:center; width:5%; background-color: #ffffff; border: 1px solid #a9a9a9;">
                                   <span> <strong>X</strong> </span>
                         </td>

                         <td style="padding: 5px 0; font-weight: bold;">País</td>
                         <td style="padding: 5px 0; width:18%; background-color: #ffffff; border: 1px solid #a9a9a9; padding: 5px;">
                                   <span> <strong>  <%= @proyecto.fuente.lugar.nomlugar %> </strong> </span>
                         </td>
        <% end %>
    </tr>
</table>

<table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
    <tr>
        <td style="padding: 5px 0; font-weight: bold;">Nombre Contacto Contraparte</td>
        <td style="padding: 5px 0; width:47%; background-color: #ffffff; border: 1px solid #a9a9a9; padding: 5px;">
                   <span>  <%= @proyecto.fuente.nomcontacto %>  </span>
        </td>

        <td style="padding: 5px 0; font-weight: bold;">Correo Electrónico</td>
        <td style="padding: 5px 0; width:20%; background-color: #ffffff; border: 1px solid #a9a9a9; padding: 5px;">
                 <span>  <%= @proyecto.fuente.emailcontacto %>  </span>
        </td>
    </tr>
</table>

<% if !@proyecto.mconvocatoria.nil? %>
     <table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
          <tr>
               <td style="width:20%; padding: 5px 0; font-weight: bold; text-align:left;">Nombre de la Convocatoria</td>
               <td style="width:80%; background-color: #ffffff; border: 1px solid #a9a9a9;  padding: 5px;"> <%= @proyecto.mconvocatoria.nomconvocatoria %> </td>
          </tr>
          <tr>
               <td style="width:20%; padding: 5px 0; font-weight: bold;">Link de la Convocatoria</td>
               <td style="width:80%; background-color: #ffffff; border: 1px solid #a9a9a9;  padding: 5px;"> <%= @proyecto.mconvocatoria.link %> </td>
          </tr>
     </table>
<% end %>

<div style="width:100%; background-color: #e4e4e4; padding:5px 0;">
     <table style="width:90%; background-color: #e4e4e4; padding:5px 0;  border-collapse: collapse;">
         <tr>
            <td style="width:60%;">
                    <table style="width:100%;  border-collapse: collapse;">
                         <tr>
                              <td style="font-weight: bold;"> Participantes del INECOL: </td>
                              <td style="text-align: right; padding-right: 1px;"> Participación</td>
                         </tr>
                         <tr style="">
                              <td style="width:30%; vertical-align: top; border: 1px solid #a9a9a9;">
                                   Investigadores
                              </td>   

                              <td style="width:70%; vertical-align: top; border: 1px solid #a9a9a9;">
                                   <%= render partial: '/proyectos/pdf/parts_inv', formats:[:html] %>
                              </td>   
                         </tr>
                         <tr>
                              <td style="width:30%; vertical-align: top; border: 1px solid #a9a9a9;">
                                   Técnicos
                              </td>   

                              <td style="width:70%; vertical-align: top; border: 1px solid #a9a9a9;">
                                   <%= render partial: '/proyectos/pdf/parts_tec', formats:[:html] %>
                              </td>   
                         </tr>
                         <tr>
                              <td style="width:30%; vertical-align: top; border: 1px solid #a9a9a9;">
                                   Estudiantes
                              </td>   

                              <td style="width:70%; vertical-align: top; border: 1px solid #a9a9a9; background-color: #FFFFFF;">
                                   <table style="width:100%;">
                                        <% @proyecto.participante.pestudiantes.each do |est| %>
                                             <tr><td> <%= est.nombre  %> </td>
                                             </tr>    
                                        <% end %>    
                                   </table>
                              </td>   
                         </tr>
                    </table>      
               </td>     
               <td style="width:100%; vertical-align: top;">
                 <% if @proyecto.instituciones.any? %> 
                         <table style="width:100%;">      
                              <tr>
                                   <td colspan="2" style="font-weight: bold; text-align:center;"> Instituciones Participantes</td>
                              </tr>
                                 <% @proyecto.instituciones.each do |item| %> 
                                        <tr>
                                             <td style="width:5%;"></td>
                                             <td style="width:30%; border: 1px solid #a9a9a9; background-color: #FFFFFF;"><%= item.nominstitucion %></td>
                                        </tr>
                                 <% end %>       
                         </table>
                  <% end %>  
               </td>
          </tr>     
     </table>

</div>