
<%  

 if controller.action_name == 'edit' 
    form.object.costo = number_to_currency(form.object.costo.to_s)
    form.object.iva = number_to_currency(form.object.iva.to_s)
    form.object.tproyecto = number_to_currency(form.object.tproyecto.to_s)
    form.object.overhead = number_to_currency(form.object.overhead.to_s)
    form.object.estimulo = number_to_currency(form.object.estimulo.to_s)
    form.object.tgastos = number_to_currency(form.object.tgastos.to_s)
 end 
%>

<div class="flex-col w-full ">

      <div class="md:flex md:items-center mb-3 w-full">
            <div class="w-4/12">
                <%= form.label :moneda_id, 'Moneda:', class:'block  md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
            </div>
            <div class="w-3/12">
                    <%= form.select :moneda_id,
                            Moneda.all.map{|item| [item.nommoneda, item.id]},
                                {prompt: '-- Seleccione --'},
                                {class:'bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'}
                %>     
            </div>
      </div>
      <div class="md:flex md:items-center mb-3 w-full">
              <div class="w-4/12">
                      <div>
                           <%= form.label :costo, 'Costo del Proyecto (sin IVA):', class:'block font-semibold  md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                      </div>     
              </div>
              <div class="w-3/12">
                      
                      <div>
                        <%= form.text_field :costo, 
                            autocomplete: 'off',
                            class:'bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full 
                                  py-1 px-1 text-gray-800 font-semibold leading-tight focus:outline-none focus:bg-white 
                                  focus:border-purple-500 text-center',
                            placeholder: 'Capture el monto de su proyecto sin IVA',
                            data:{action:'blur->presup-sol#campoformat focus->presup-sol#campounformat keydown->utils#onlynumbers click->tooltip#txtHelp'}
                        %>
                      </div>                      
                      
              </div>            
              <div class="w-4/12">
                    <div> 
                       <button type="button" id="btn_cmontos"
                             class="text-white ml-2 bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-1 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 p-1",
                             data-action='click->presup-sol#calcularGastos'
                        >   
                        <%= inline_svg_tag 'svg/usd-circulo.svg' %>
                        <div class="p-1">Calcular montos</div>
                        </button>
                    </div>    
              </div>
      </div>
  
     

</div>




<div class="flex w-11/12">

  <div class="w-1/2">

    <%= render 'presupuestos/campos/iva', form:form %>
    
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-2/5">
        <%= form.label :tproyecto, 'Total Proyecto:', class:'block  md:text-right mb-1 md:mb-0 pr-4 font-semibold', for:'inline-full-name' %>
      </div>
      <div class="md:w-2/5">
        <%= form.text_field :tproyecto, readonly:true, class:'text-center font-semibold bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'%>
      </div>
    </div>

  </div>

  <div class="w-1/2">
    
    <%= render 'presupuestos/campos/porc_ovh', form:form %>
 
    <%= render 'presupuestos/campos/porc_estimulo', form:form %>

    
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-2/5">
        <%= form.label :tgastos, 'Total para Gastos:', class:'block font-semibold md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
      </div>
      <div class="md:w-2/5">
        <%= form.text_field :tgastos, readonly:true, class:'text-center bg-gray-100 font-semibold appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'%>
      </div>
    </div>

  </div>
</div>
