
<div class="w-full" data-controller="presup-sol utils">
   <% flash.each do |type, msg| %>
           <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <%= msg %>
           </div>
   <% end %>
  <%= form_with(model:@presupuesto,
                    data:{ 
                            controller:'nested-form-sol',
                            nested_form_wrapper_selector_vlue: '.nested-form-wrapper'
                         }) do |form|
  %>

       <% if controller.action_name == 'new' || controller.action_name == 'create' %>  
              <%= form.hidden_field :proyecto_id, value:@proyecto.id %>
       <% end %> 
       <% if controller.action_name == 'edit' %>  
              <%= form.hidden_field :proyecto_id, value:@presupuesto.proyecto_id %>
       <% end %> 

       <%= render 'costos', form:form %>

       <div class="md:mt-1"> 
            <div class="border-b-2 border-slate-200 px-1 text-gray-800">
                Favor de desglosar los gastos que debe ser igual al <strong>total para gastos</strong>. 
                <a href="https://inecol-my.sharepoint.com/:b:/g/personal/antonio_francisco_inecol_mx/EUOekuAND0tKnx--fyRrf3EBui84Z4nNKtZZraBE7iDPMw?e=5k5a7i" target="_blank" class="text-blue-800"> Consultar clasificador </a>
            </div>
   
            <div class="w-full flex justify-center">
                 <%= render 'solicitado', form:form %> 
            </div>

       <div>  
       
       <div class="flex  text-gray-800 w-10/12">
                 <div class="flex justify-end w-4/6 font-semibold">Total:</div>
                 <div class="flex justify-start w-2/6 font-semibold"><div class="ml-2" id='total_caps'>
                          <% if controller.action_name == 'create' %>
                                         <%= @solicitado_p %>
                          <% end %>   
                          <% if controller.action_name == 'edit' || controller.action_name == 'update' %> 
                                   <% if @presupuesto.solicitados.any? %>
                                        <%= number_to_currency (@presupuesto.solicitados.sum(:monto)) %>
                                   <% end %>

                          <% end %>
                 </div></div>
       </div>

       <div class="md:flex md:items-center mt-1 mb-3 justify-end">
            <% if controller.action_name == 'new' || controller.action_name == 'create' %>
                <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" 
                        data-turbo-frame= 'py_content_action' 
                        >
                     <span class="ml-2">Guardar</span>
                     <%= inline_svg_tag 'svg/disco.svg', class:"ml-2" %>
                </button>
            <% end %>
            <% if controller.action_name == 'edit' || controller.action_name == 'update' %>
                 <%= link_to  presupuesto_path(@presupuesto), 
                                    class:"mr-3 text-white bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800",
                                    data: { turbo_frame: "py_content_secc", action:"click->menusecc#itemaction" } do %>  
                                   Cancelar
                <% end %> 
                <button type="submit" class="text-white bg-green-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" 
                        data-turbo-frame= 'py_content_action' 
                      >
                     Aplicar cambios
                </button>
            <% end %>    
        
        </div>

  <% end %>
</div>
