<div class="w-full" data-controller="presup-sol utils">
  <%= form_with(model:@presupuesto,
                    data:{ 
                            controller:'nested-form-sol',
                            nested_form_wrapper_selector_vlue: '.nested-form-wrapper'
                         }) do |form|
  %>

       <% if controller.action_name == 'new' %>  
              <%= form.hidden_field :proyecto_id, value:@proyecto.id %>
       <% end %> 
       <% if controller.action_name == 'edit' %>  
              <%= form.hidden_field :proyecto_id, value:@presupuesto.proyecto_id %>
       <% end %> 

       <%= render 'costos', form:form %>

       <div class="md:mt-5"> 
            <div>
                Desglose de Gastos
            </div>
   
            <div class="w-full flex justify-center">
                 <%= render 'solicitado', form:form %> 
            </div>

       <div>  
       
       <div>
          <%= form.submit %>
       </div>

  <% end %>
</div>
