<div class="w-full font-semibold" style="display: flex; flex-direction:column; align-items: center; justify-content: center; margin-top: 8px;">
      <div class="p-2">Desglose de Gastos</div>

      <div class="w-3/5" style="display: flex; flex-direction:column;">
             <div class="w-full" style="display: flex;">
                  <div class="w-3/5 font-semibold bg-slate-300" style="display: flex; align-items: center; justify-content: center;">Capítulo</div>
                  <div class="w-2/5 font-semibold bg-slate-300" style="display: flex; align-items: center; justify-content: center;">Monto</div>
             </div>
      </div>       
      <div class="w-3/5" style="display: flex; flex-direction:column;">
            <% @presupuesto.solicitados.each do |s|  %>
                    <div class="w-full p-1" style="display: flex; border-bottom: solid 1px #d5d5d5;">    
                        <div class="w-3/5" style="display: flex; align-items: center; justify-content: center;">
                                <%= s.capitulo.nomcapitulo %>
                        </div>
                        <div class="w-2/5" style="display: flex; align-items: center; justify-content: center;">
                                <div style="display: flex; align-items: center; justify-content: center;"> <%= @moneda.currency + ' ' + @moneda.simbolo %> </div>
                                <div style="display: flex; margin-left: 2px; align-items: center; justify-content: center;"> <%= number_to_currency(s.monto, :unit=>"") %> </div>
                        </div>
                    </div>
            <% end %> 
       </div>

       <div class="w-3/5" style="display: flex; flex-direction:column; margin-top: 5px;">
            <div class="w-full" style="display: flex;">    
                <div class="w-3/5" style="display: flex; align-items: center; justify-content: end;">
                        Total:
                </div>
                <div class="w-2/5" style="display: flex; align-items: center; justify-content: center;">
                        <div style="display: flex; align-items: center; justify-content: center;"> <%= @moneda.currency + ' ' + @moneda.simbolo %> </div>
                        <div style="display: flex; margin-left: 2px; align-items: center; justify-content: center;"> <%= number_to_currency(@sum_caps, :unit=>"") %> </div>
                </div>
           </div>
      </div>

</div>