     <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;" data-controller="impuestos">
        <div class="w-full" style="display: flex;  justify-content: end;">
             <div class="text-blue-700" 
                  style="cursor: pointer;" 
                  data-action="click->impuestos#cambiar"
                  data-impuestos-url-param="<%= edit_proyecto_presupuesto_impuesto_path(@proyecto.id, @presupuesto.id, @impuesto.id) %>"
                  >
                  Editar porcentajes
             </div>
         </div>
        <div class="w-1/2 p-1">
                <div class="grid grid-cols-2 gap-4 mt-3" style="display: flex;">
                      <div class="w-5/12" style="display:flex; justify-content: end;">
                         Moneda:
                      </div>
                      <div class="w-5/12" style="display: flex; align-items: center; margin-left: 1px;">
                           <%= @presupuesto.moneda.nommoneda %>
                      </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-3" style="display: flex;">
                      <div class="w-5/12" style="display:column;">
                           <div class="font-semibold" style="display: flex; justify-content: end;">Costo del Proyecto</div>
                           <div class="font-semibold" style="display: flex; justify-content: end;">(SIN IVA):</div>
                      </div>
                      <div class="w-5/12 font-semibold" style="display: flex; align-items: center; margin-left: 1px;">
                           <%= number_to_currency(@presupuesto.costo, :unit=>@moneda.currency + ' ' + @moneda.simbolo + ' ' ) %>
                      </div>
                </div>
                <!--   Porcentajes  -->
                  <turbo-frame id="porc_impuesto" src="<%= proyecto_presupuesto_impuesto_path(@proyecto.id, @presupuesto.id, @impuesto.id) %>"></turbo-frame>
                <!--  ------------------------------------   -->
                <div class="grid grid-cols-2 gap-4 mt-3" style="display: flex;">
                      <div class="w-5/12 font-semibold" style="display:flex; justify-content: end; color: #0072eb;">
                           Total para GASTOS:
                      </div>
                      <div class="w-5/12 font-semibold" style="display: flex; align-items: center; margin-left: 1px; color: #0072eb;">
                           <%= number_to_currency(@presupuesto.tgastos, :unit=>@moneda.currency + ' ' + @moneda.simbolo + ' ') %>
                      </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-3" style="display: flex;">
                      <div class="w-5/12 font-semibold" style="display:flex; justify-content: end;">
                           TOTAL PROYECTO:
                      </div>
                      <div class="w-5/12 font-semibold" style="display: flex; align-items: center; margin-left: 1px;">
                          <%= number_to_currency(@presupuesto.tproyecto, :unit=>@moneda.currency + ' ' + @moneda.simbolo + ' ') %>
                      </div>
                </div>
                
        </div>
     </div>   