<div class="flex w-full justify-center">
 
  <div class="w-full">
        <table class="border-collapse border border-slate-400 w-full">
              <thead>
                    <tr>
                    <th class="border border-slate-300 bg-gray-300">Capítulo</th>
                    <th class="border border-slate-300 bg-gray-300">Monto</th>
                    </tr>
              </thead>
              <tbody>
                    <% @presupuesto.solicitados.each do |s|  %>
                            <tr>
                                <td class="border border-slate-300"><%= s.capitulo.nomcapitulo %></td>
                                <td class="border border-slate-300 text-center">
                                    <div style="display:flex;"> 
                                      <div style="width:30%;display: flex;justify-content: flex-end;"><%= @moneda.currency + ' ' + @moneda.simbolo %></div>
                                      <div style="width:50%;display: flex;justify-content: flex-end;"> <%= number_to_currency(s.monto, :unit=>"") %></div>
                                    </div>
                                </td>
                            </tr>
                            
                    <% end %>        
              </tbody>
              <tfoot>
                    <tr>  
                        <td class="text-right font-semibold">Total:</td>
                        <td class="text-center font-semibold">
                              <div style="display:flex;"> 
                                      <div style="width:30%;display: flex;justify-content: flex-end;"><%= @moneda.currency + ' ' + @moneda.simbolo %></div>
                                      <div style="width:55%;display: flex;justify-content: flex-end;"> <%= number_to_currency(@sum_caps, :unit=>"") %></div>
                              </div>
                    </tr>
              </tfoot>
        </table>
   </div>     

</div>