<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm" >
        <thead class="text-sm text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
           <tr> 
              <th  class="p-3" >CLAVE</th>
              <th  class="p-3"><div style="width:400px;">TÍTULO DEL PROYECTO</div></th>
              <th  class="p-3"><div style="width:300px;">FUENTE DE FINANCIAMIENTO</div></th>
              <th  class="p-3"><div style="width:300px;">RESPONSABLE</div></th>
              <th  class="p-3"><div style="width:200px;">MONTO AUTORIZADO</div></th>
              <th  class="p-3"><div style="width:200px;">INSTITUCIONES PARTICIPANTES</div></th>
              <th  class="p-3"><div style="width:200px;">INICIO</div></th>
              <th  class="p-3"><div style="width:100px;">TERMINO</div></th>
              <th  class="p-3"><div style="width:100px;">ESTATUS</div></th>
           </tr>   
         </thead>
         <tbody>
            <% if @proyectos.blank? %>
                <% x = 1
                    @proyectos.each do |p| %>

                        <% if p.etapas.last.tevento.clave == 'ACEP'  %>
                          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                              <td class="p-2">   
                                   <%= x %>
                               </td>
                               <td class="p-2">  
                                    <%= p.nombre %>
                               </td> 
                               <td class="p-2"> 
                                    <%=  p.fuente.nomfuente if !p.fuente.nil? %>
                               </td>
                               <td class="p-2">   
                                        <%= p.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio %>                            
                               </td>
                               <td class="p-2">
                                        <%=  number_to_currency(p.mtoautorizado.monto, :unit=>"$ ") if !p.mtoautorizado.nil? %>       
                               </td>
                               <td class="p-2">
                                        <%= render 'reportes/inst', p:p %>
                               </td>
                               <td class="p-2">      
                                        <%=  p.mtoautorizado.finicio.strftime("%d-%m-%Y") if !p.mtoautorizado.nil? %>       
                               </td>
                               <td class="p-2">
                                        <%=  p.mtoautorizado.ftermino.strftime("%d-%m-%Y") if !p.mtoautorizado.nil? %>       
                               </td>

                               <td class="p-2">
                                        <%=  'En proceso' if p.etapas.last.tevento.clave == 'ACEP' %>
                                        <%=  'Terminado' if p.etapas.last.tevento.clave == 'FIN' %>
                               </td>
                           </tr> 
                        <% end %>

                <% 
                    x += 1 
                  end %>    
            <% else %>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                           <td colspan="9"><div class="ml-10 italic"><strong>Sin registros</strong></td>
                        </tr>   
            <% end %>
         </tbody>
    </table>
     <br><br>
</div>