<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm" >
        <thead class="text-sm text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
           <tr> 
              <th  class="p-3" >No.</th>
              <th  class="p-3"><div style="width:400px;">NOMBRE DEL PROYECTO</div></th>
              <th  class="p-3"><div style="width:100px;">FONDOS CONACYT</div></th>
              <th  class="p-3"><div style="width:300px;">OTRAS AGENCIAS DE FINANCIAMIENTO</div></th>
              <th  class="p-3"><div style="width:300px;">VINCULADO A EMPRESA</div></th>
              <th  class="p-3"><div style="width:200px;">TIPO DE PROYECTO</div></th>
              <th  class="p-3"><div style="width:200px;">FECHA DE INICIO</div></th>
              <th  class="p-3"><div style="width:200px;">FECHA DE TÉRMINO</div></th>
              <th  class="p-3"><div style="width:100px;">PORCENTAJE DE AVANCE</div></th>
              <th  class="p-3"><div style="width:100px;">MONTO AUTORIZADO</div></th>
              <th  class="p-3"><div style="width:150px;">MONTO EJERCIDO A LA FECHA</div></th>
              <th  class="p-3"><div style="width:200px;">RESPONSABLE</div></th>
              <th  class="p-3"><div style="width:500px;">COMENTARIOS</div></th>
           </tr>   
         </thead>
         <tbody>
              <% x = 1
                 @enlace.each do |e| %>

                 
                         <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                   <td class="p-2">   
                                        <%= x %>                            
                                   </td>
                                   <td class="p-2">                               
                                        <%= e.proyecto.nombre %>
                                   </td>
                                   <td class="p-2">                               
                                   </td>
                                   <td class="p-2">                               
                                   </td>
                                   <td class="p-2"> 
                                        <%=  e.proyecto.fuente.nomfuente if !e.proyecto.fuente.nil? %>                              
                                   </td>
                                   <td class="p-2">   
                                        <%=  e.proyecto.clasificacion.nomclasifica %>
                                   </td>
                                   <td class="p-2">      
                                        <%=  e.proyecto.mtoautorizado.finicio.strftime("%d-%m-%Y") if !e.proyecto.mtoautorizado.nil? %>       
                                   </td>
                                   <td class="p-2">
                                        <%=  e.proyecto.mtoautorizado.ftermino.strftime("%d-%m-%Y") if !e.proyecto.mtoautorizado.nil? %>       
                                   </td>
                                   <td class="p-2">      
                                        <%=  e.proyecto.avances.last.porcentaje.to_s + '%' if e.proyecto.avances.any? %>                               
                                   </td>
                                   <td class="p-2">
                                        <%=  number_to_currency(e.proyecto.mtoautorizado.monto, :unit=>"$ ") if !e.proyecto.mtoautorizado.nil? %>       
                                   </td>
                                   <td class="p-2">
                                        <%=  number_to_currency(e.proyecto.mtoejercidos.last.monto, :unit=>"$ ") if e.proyecto.mtoejercidos.any? %>  
                                   </td>
                                   <td class="p-2">   
                                        <%= e.proyecto.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio %>                            
                                   </td>
                                   <td class="p-2">  
                                        <%= e.proyecto.avances.last.txtavance if !e.proyecto.avances.blank? %>
                                   </td>
                         </tr>  

              <% x += 1 
                 end %>
         </tbody>
    </table>
    <br><br>
</div>   

       