<%= form_with model:@informe, url:[@proyecto, @informe], class:'w-full' do |f| %>
  <%= f.hidden_field :proyecto_id, value:@proyecto.id %>
  <div class="mt-5" style="display: flex; flex-direction:column; align-items: center; justify-content: center;"> 
    <div class="w-3/5 border p-2" style="display: flex; flex-direction:column; align-items: center; justify-content: center;"> 
        <div class="font-bold mt-5 w-3/5" style="display:flex;">Registrar Informe</div>
        <div class="relative overflow-x-auto w-3/5 mt-5" style="display:flex;">
             <table class="w-full text-sm text-right"> 
                   <tr class="bg-white border-b-2">
                        <td scope="row" class="p-2 text-right w-1/5 font-semibold ">
                            Tipo informe:
                        </td>
                        <td class="text-left p-2">
                           <% if current_usuario.cuenta.rol.clave == 'PLAN' %>   
                              <%= f.select :tinforme_id, 
                                  Tinforme.where(clave:['IFP','IFF']).all.order(:orden).map{|item| [item.nomtinforme, item.id]},
                                  {prompt:'- Seleccionesuna opción -'},
                                  {class:'dark:bg-gray-800 dark:border-gray-700'} 
                              %>
                          <% else %>     
                              <%= f.select :tinforme_id, 
                                  Tinforme.where(clave:['ITP','ITF']).all.order(:orden).map{|item| [item.nomtinforme, item.id]},
                                  {prompt:'- Seleccione una opción -'},
                                 {class:'p-1 dark:bg-gray-800 dark:border-gray-700'} 
                              %>

                           <% end %>   
                        </td>
                   </tr>    
                   <tr class="bg-white ">
                        <td scope="row" class="p-2 text-right w-1/5 font-semibold ">
                              Documento:
                        </td>
                        <td class="text-left p-2">
                              <%= f.file_field :dinforme %>
                        </td>
                   </tr>
             </table>  
        </div> 
        <div class="md:flex md:items-center mt-5 mb-5 justify-end w-3/5" style="display:flex;">
                <%= link_to proyecto_informes_path(@proyecto),
                                    class:"mr-3 text-white bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800",
                                    data: { turbo_frame: "py_content_sub"} do %>  
                                   Cancelar
                <% end %>   
                <button type="submit" class="text-white bg-green-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" 
                        data-turbo-frame= 'py_content_sub'>
                         Aceptar
                </button>
        </div>   
      </div>
  </div>
<% end %> 