
<div class="ml-2 font-bold">
    El siguiente proyecto será habilitado para modificaciones, favor de revisar la información.
</div>

<div class="relative overflow-x-auto flex justify-center">
    <table class="w-full text-left text-gray-800 dark:text-gray-800">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3" colspan="2">
                    <div class="flex align-middle border-b-2 border-slate-200">
                      <div><%= inline_svg_tag 'svg/adoc.svg' %></div>
                      <div class="ml-1">Información</div>
                    </div>  
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4  text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                    Nombre del Proyecto:
                </th>
                <td class="px-6 py-4">
                    <%= @proyecto.nombre %>
                </td>
            </tr>    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4  text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Responsable:
                </th>
                <td class="px-6 py-4">
                    <%= @proyecto.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio %>
                </td>
            </tr>    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4  text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Número de Registro:
                </th>
                <td class="px-6 py-4">
                    <%=  @proyecto.dictamen.numregistro %>
                </td>
            </tr>   
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4  text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Fecha Dictamen:
                </th>
                <td class="px-6 py-4">
                    <%=  @proyecto.dictamen.created_at.strftime('%d-%m-%Y') %>
                </td>
            </tr>   
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Evaluación:
                </th>
                <td class="px-6 py-4">
                     <strong> <%=  @proyecto.dictamen.tvalidacion.nomtvalidacion %> </strong>
                </td>
            </tr>   
        </tbody>
    </table>
</div>
<div class="relative overflow-x-auto flex justify-end">
      <button                 id = "btnmod"
                              type = "button"
                              data-idxpy = <%= @proyecto.id %>
                              class = "text-white mt-2 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" 
                              data-turbo-frame = 'py_content_action' data-controller = "modificatorio" data-action="click->modificatorio#aplicarproceso">
                             
                             <span class="ml-2">Aceptar</span>
                             <%= inline_svg_tag 'svg/disco.svg', class:"ml-2" %>
     </button>
</div>

