
<%= turbo_frame_tag "preview_monto_autorizado" do %>
<% flash.each do |type, msg| %>
     <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <%= msg %>
    </div>
<% end %>
       <%= form_with model:@prorroga, url:[@proyecto, @prorroga], class:'w-full' do |f| %>
             <%= f.hidden_field :proyecto_id, value:@proyecto.id %>
             <div class="w-full overflow-x-auto p-1 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"  >
                  <div class="font-semibold border-b dark:bg-gray-800 dark:border-gray-700 p-1">Prorroga</div>
                  <table class="w-full text-gray-800 dark:text-gray-800 mt-2">
                      <tbody>
                            <tr class="bg-white ">
                                <td scope="row" class="p-1 text-right w-1/5 font-semibold ">
                                      
                                      <span class=" <%=  @prorroga.errors.include?(:fecha) ? 'text-red-500' : ''  %>  ">  Nueva fecha de termino: </span>

                                </td>
                                <td class="text-left p-1">
                                     <%= f.date_field :fecha, class:'p-1 border-b dark:bg-gray-800 dark:border-gray-700' %> 
                                </td>
                            </tr>
                            <!--
                            <tr class="bg-white ">
                                <td scope="row" class="p-1 text-right w-1/5 font-semibold ">
                                     <span class=" <%=  @prorroga.errors.include?(:txtobs) ? 'text-red-500' : ''  %>  ">Motivo:</span>
                                </td>
                                <td class="text-left p-1">
                                   <% if @prorroga.errors.include?(:txtobs) %>
                                        <%= f.rich_text_area :txtobs, class:'trix-editor bg-red-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500',  data: { trix_target: 'editor' } %> 
                                   <% else %>
                                        <%= f.rich_text_area :txtobs, class:'trix-editor bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500',  data: { trix_target: 'editor' } %> 
                                   <% end %>
                                </td>
                            </tr>    
                           --> 
                      </tbody>
                  </table>    
             </div>     
             <div class="w-full overflow-x-auto p-1 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                      <%= link_to preview_proyecto_mtoautorizado_path(@proyecto, @proyecto.mtoautorizado), 
                                    class:"mr-3 text-white bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800",
                                    data: { turbo_frame: "preview_monto_autorizado" } do %>  
                                   Cancelar
                        <% end %>   
                        <button type="submit" class="text-white bg-green-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" 
                                 data-turbo-frame= 'py_content_action'>
                            Aplicar cambios
                        </button>
             </div> 
       <% end %>
<% end %>
