<div data-controller="etapasvalpy" class="w-full">
      <div class='flex w-full justify-center mb-2 border-b-2 border-slate-200'>
         <div class="w-6/12">  <%= render 'vistas/util/acad' %> </div>
      </div>
      <div class='flex w-full mb-2'>
         <%= render 'vistas/util/pyestado' %>
      </div>  

      <div class='flex w-full'>
      
         <div class='w-1/4'>
            <%= render 'secciones' %>
         </div>
         <div class='w-3/4'>
            <%= turbo_frame_tag "py_content_secc" do %>
               <%= render 'seccion' %>
            <% end %>

         </div>
      </div>
      <%= render 'vistas/util/modal_enviar' %>
</div>      

