<div data-controller="etapasvalpy" class="w-full">
      <div class='flex w-full justify-center mb-2 border-b-2 border-slate-200'>
            <div class="w-9/12">  
                 <% if current_usuario.email == 'sara.sanchez@inecol.mx' %>
                           <%= render 'vistas/util/enlace' %>  
                 <% else %>
                           <%= render 'vistas/util/acad' %> 
                  <% end %>
            
            </div>
      </div>
      
      <div class='flex w-full mb-2'>
          <%= render 'vistas/util/pyestado', proyecto:@proyecto %>
      </div>  
      
      <%  if @total_notifica_rp > 0  %> 
           <%= render 'proyectos/notifi_corr', notificaciones:@notifica_corr %> 
      <% end %>     

      <div class='flex w-full'>
      
         <div class='w-1/4'>
            <%= render 'secciones' %>
         </div>
         <div class='w-3/4'>
            <%= turbo_frame_tag "py_content_secc" do %>
               <%= render 'seccion' %>
            <% end %>

         </div>
      </div>
      <%= render 'vistas/util/modal_enviar' %>
</div>      

