<%= turbo_frame_tag "preview_monto_autorizado" do %>
       <table class="w-full text-sm text-center text-gray-800 dark:text-gray-400">
        <thead>  
            <tr>
                <th class="text-center">Fecha de Inicio</th>
                <th class="text-center">Fecha de Termino</th>
                <th class="text-center">Monto</th>
                <th class="text-center"></th>
            </tr>
        </thead>  
        <tbody>
            <% if !@proyecto.mtoautorizado.nil? %>
                <tr class="border-b">
                    <td class="text-center p-1"> <%= @proyecto.mtoautorizado.finicio.strftime("%d-%m-%Y") %> </td>
                    <td class="text-center p-1"> 
                                 <%= @proyecto.mtoautorizado.ftermino.strftime("%d-%m-%Y") %> 
                    </td>
                    <td class="text-center p-1">
                                    <%= number_to_currency(@proyecto.mtoautorizado.monto, :unit=>@proyecto.presupuesto.moneda.currency + ' ') %> 
                    </td>
                    <td class="text-center p-1">
                        <%= render 'mtoautorizados/rwmenu' %>  
                    </td>
                </tr>

                <% if @proyecto.prorrogas.any? %>
                       <% @proyecto.prorrogas.order(:created_at).each do |p| %> 
                           <tr>
                               <td class="text-center p-1"> <%= @proyecto.mtoautorizado.finicio.strftime("%d-%m-%Y") %> </td>
                               <td class="text-center p-1">
                                   <div style="display:flex; flex-direction:column;"> 
                                      <div><%= p.fecha.strftime("%d-%m-%Y") %></div>
                                      <div class="text-center p-1 text-red-500"> Prórroga </div>  
                                   </div>
                               </td>
                               <td class="text-center p-1">
                                    <%= number_to_currency(@proyecto.mtoautorizado.monto, :unit=>@proyecto.presupuesto.moneda.currency + ' ') %> 
                               </td>
                           </tr>
                       <% end %>         
                <% end %>

            <% else %>    
                <tr>
                    <td class="text-center p-1" colspan="4">Sin asignar</td>
                </tr>    
            <% end %>    
        </tbody>
    </table>    
<% end %>