<div  data-controller="inputmail">
<%= form_with(model: @dictamen) do |form| %>
     <%= form.hidden_field :proyecto_id, value:@proyecto.id %>
     <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5 font-semibold">
                         <%= form.label :tvalidacion_id, 'Tipo evaluación:', class:'block  md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                    </div>
                    <div class="md:w-2/5">
                         <%= form.select :tvalidacion_id,
                                Tvalidacion.where(clave:['ACEP', 'REC']).map{|item| [item.nomtvalidacion, item.id]},
                                {prompt: '-- Seleccione una opción --'},
                                {class:'bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'}
                         %>  
                    </div>
     </div>
      <% if @proyecto.modificatorio != 'SI' %>
          <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5 font-semibold">
                        <%= form.label :numregistro, 'Número de registro:', class:'block  md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                    </div>
                    <div class="md:w-1/5">
                              <%= form.text_field :numregistro, class:'bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'%>
                            <!--
                              <span class="italic text-sm">Último número de registro asignado: <%= !Dictamen.all.order(:numregistro).last.nil? ? Dictamen.order(:numregistro).last.numregistro : 'Sin asignar' %></span>
                            -->  
                    </div>
          </div>
      <% else %>    
          <%= form.hidden_field :numregistro, value:'DMOD'%>
      <% end %>    
      <div class="md:flex mb-3">
                    <div class="block font-semibold md:w-1/5 md:text-right mb-1 md:mb-0 pr-4">
                        Emails:
                    </div>
                    <div class="md:w-3/4">
                         <div id="conttags" class="flex h-12 rounded-lg border-solid border-2 border-indigo-600">
                            <div class=""> 
                              <%= form.hidden_field :otrose %>     
                              <input id="inemail" autocomplete="off" class="ml-3 p-2 w-96 h-11 rounded-lg content-center focus:outline-none" style="border:0;" data-action="keypress->inputmail#prevent keyup->inputmail#addtag focus->inputmail#undecora ">
                              <div class="bg-gray-100" style="z-index: 1000; position:relative;">
                                  <ul id="suggestions"></ul>
                              </div>    
                            </div>  
                         </div>
                    </div>
     </div>
     <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5 font-semibold">

                    </div>
                   <div class="w-4/5">
                            <%= render 'marchivos/wrapvalida', form:form, tipo:'dictamen' %>  
                   </div>
     </div>
     <div class="md:flex md:items-center mb-3 font-semibold">
                    <div class="md:w-1/5">
                           <% if @proyecto.modificatorio != 'SI' %>
                                   <%= form.label :txtdictamen, 'Dictamen:', class:'block  md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                           <% else %>        
                                   <%= form.label :txtdictamen, 'Comentarios:', class:'block  md:text-right mb-1 md:mb-0 pr-4', for:'inline-full-name' %>
                           <% end %>
                    </div>
                     <div class="md:w-4/5" data-controller="trix">
                         <%= form.rich_text_area :txtdictamen, class:'trix-editor bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500',  data: { trix_target: 'editor' }%>
                    </div>
     </div>
     <div class="md_flex ">

                  <div class="md:flex md:items-center mb-3"> 
                    <div class="md:w-1/5 font-semibold">
                              <%= label_tag 'Fecha dictamen:',nil, class: 'block  md:text-right mb-1 md:mb-0 pr-4' %>
                    </div>
                    <div id="div_file" class="md:w-2/5" data-controller="trix upsf">
                              <%= date_field_tag 'fsol', nil, class: '', value:@fecha_inicial %>
                    </div>
                 </div>    
                 <div class="md:flex md:items-center mb-3"> 
                    <div class="md:w-1/5 font-semibold">
                              <%= label_tag 'Fecha límite para firmar:',nil, class: 'block  md:text-right mb-1 md:mb-0 pr-4' %>
                    </div>
                    <div id="div_file" class="md:w-2/5" data-controller="trix upsf">
                              <%= date_field_tag 'flim', nil, class: '', value:@fecha_limite %>
                    </div>
                 </div>    
    </div>
     <!--
     <div class="md:flex md:items-center mb-3 font-semibold">
                    <div class="md:w-1/5">                   
                    </div>
                    <div class="md:w-4/5">
                     Otros Emails (una cuenta por linea):
                    </div> 
                    
     </div>
      <div class="md:flex md:items-center mb-3 font-semibold">
                    <div class="md:w-1/5">
                    </div>
                    <div class="md:w-4/5">
                          <%= form.text_area :otrose, cols: 60, rows: 3, class:'bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500' %> 
                    </div>
     </div>
     -->

     <div class="md:flex md:items-center mb-5 justify-end">
           <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                    <%= inline_svg_tag 'svg/send.svg' %>
                    <div class="ml-2">Aceptar</div>
           </button>
     </div>                        
<% end %>
</div>