
<div class="relative overflow-x-auto flex justify-center" data-controller="email">
    <table class="w-full text-left text-gray-800 dark:text-gray-800">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3" colspan="2">
                    <div class="flex align-middle border-b-2 border-slate-200">
                      <div><%= inline_svg_tag 'svg/adoc.svg' %></div>
                      <div class="ml-1">Dictamen</div>
                    </div>  
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4  text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                    Nombre del Proyecto:
                </th>
                <td class="px-6 py-4">
                    <%= @proyecto.nombre %>
                </td>
            </tr>    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4  text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Responsable:
                </th>
                <td class="px-6 py-4">
                    <%= @proyecto.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio %>
                </td>
            </tr>    
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4  text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Número de Registro:
                </th>
                <td class="px-6 py-4">
                    <%= @dictamen.numregistro %>
                </td>
            </tr>   
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4  text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Fecha Dictamen:
                </th>
                <td class="px-6 py-4">
                    <%= @dictamen.created_at.strftime('%d-%m-%Y') %>
                </td>
            </tr>   
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Evaluación:
                </th>
                <td class="px-6 py-4">
                     <strong> <%= @dictamen.tvalidacion.nomtvalidacion %> </strong>
                </td>
            </tr>   
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Documento:
                </th>
                <td class="px-6 py-4">
                        

                         <% if @dictamen.docdictamenes.attached? %>
                            
                                         <% @dictamen.docdictamenes.each do |doc| %>
                                                   <div class="flex"> 
                                                        <%= link_to doc.filename, rails_blob_path(doc, disposition:'inline'), target:'_blank', class:'item_file text-blue-700' %>
                                                   </div>
                                       <% end %>
                         <% end %>
                </td>
            </tr>   
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Dictamen:
                </th>
                <td class="px-6 py-4">
                  <!--  
                    <div class="grid justify-items-end"><div class="flex">Reenviar dictamen</div></div>
                    <div class="grid justify-items-start">
                        <div class="flex"> 
                            <div class="flex">Para:</div>
                            <div class="flex"> 
                               <%=
                                 select_tag "emailtxt", 
                                 options_for_select(Academico.includes(:tacademico).where('tacademicos.clave':['INV','CAT']).all.map{|item| [item.persona.nom_espacio, item.id] if ['INV','CAT'].include?(item.tacademico.clave)}),
                                 {prompt: '--Seleccione un Investigador--', id:'multiple'}
                               %>    
                            </div>
                        </div>   
                    </div>
                  -->  
                    <%= @dictamen.txtdictamen %>
                </td>
            </tr>    
            <!--
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white font-semibold">
                   Enviar:
                </th>
                <td class="px-6 py-4" data-controller="email">
                    <input type="text" name="cr_email" id="cr_email">
                    <button class="bg-blue-400 p-3" data-action="click->email#enviar" data-email-iddict-param="<%= @dictamen.id %>" >Enviar</button>
                </td>
            </tr>    
           --> 
           
           
        </tbody>
    </table>
</div>
