<div class="w-full flex justify-end" data-controller="menueval">
        
      <div id="items_menu" class="flex mt-5 mb-1 w-3/4 justify-between">
            <div class = "p-2 hover:bg-gray-200 hover:ring-2">
                 <%= link_to proyectos_path, 'data-frame-target':'_top', class:'flex' do %>
                         <%= inline_svg_tag 'svg/flecha-izquierda.svg' %>
                  <% end %>      
            </div>  
            

            <div id="itemopt" data-nom="proyecto" class="itemmenu flex ml-3 items-center p-2  bg-gray-200  rounded" data-action="click->menueval#clkOpcion">
                  <%= link_to  resumen_vistas_path(:id=>@proyecto.id), data:{turbo_frame: "py_content_sub"} do %>
                          <div class="flex hover:cursor-pointer font-medium text-sm leading-tight">
                                      <div> <%= inline_svg_tag 'svg/proyecto1.svg' %></div> <div class="ml-2 text-blue-800">Proyecto</div>
                          </div>   
                  <% end %>      
            </div>  
            <% if @proyecto.enlaces.any? %>
                  <% if @proyecto.enlaces.order(:created_at).last.enevento.clave == 'NVO' || @proyecto.enlaces.last.enevento.clave == 'PROC' || @proyecto.enlaces.last.enevento.clave == 'SOLA' %>
                              <%= render 'vistas/util/m_nvo_proc' %>
                  <% end %>
                  <% if @proyecto.enlaces.order(:created_at).last.enevento.clave == 'CORR' %>
                              <%= render 'vistas/util/m_corr' %>
                  <% end %>
                  <% if @proyecto.enlaces.order(:created_at).last.enevento.clave == 'EVAL' %>
                              <%= render 'vistas/util/m_eval' %>
                  <% end %>
                  <% if @proyecto.enlaces.order(:created_at).last.enevento.clave == 'DICT' || @proyecto.enlaces.last.enevento.clave == 'FIR' %>
                               <%= render 'vistas/util/m_dict' %>
                  <% end %>
                  
            <% end %>        
      </div>
</div>        