<div>
    <%= link_to new_enlace_path(:tipo=>'CORR',:idpy=>@proyecto.id), data:{turbo_frame:'py_content_sub'} do %>
                <div class="flex hover:cursor-pointer font-medium text-sm leading-tight">
                <div> <%= inline_svg_tag 'svg/girar-iz.svg' %></div> <div class="ml-2 text-blue-800">Solicitar cambios</div>
                </div>   
            <% end %>      
    </div>     

<div>
            <div class="flex font-medium text-sm leading-tight ml-3" >
                <div> <%= inline_svg_tag 'svg/usuarios-alt.svg' %></div> <div class="ml-2 text-gray-400">Evaluadores</div>
            </div>     
</div>


<%= link_to mensaje_enlaces_path(:idpy=>@proyecto.id), data:{turbo_frame:'py_content_sub'} do %> 
    <div class="flex  font-medium text-sm leading-tight ml-3" >
            <div> <%= inline_svg_tag 'svg/mensajes.svg' %></div> <div class="ml-2 text-blue-800">Mensajes enviados</div>
    </div>
<% end %>

<%= link_to proyecto_path(@proyecto, format: :pdf),  target:'_blank'  do %> 
    <div class="flex  font-medium text-sm leading-tight ml-3" >
            <div> <%= inline_svg_tag 'svg/archivo-pdf.svg' %></div> <div class="ml-2 text-blue-800">Descargar</div>
    </div>
<% end %>