<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700" data-controller="menunavplan" style=" position: relative;">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-end mx-auto p-4" >

    <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
             <%= link_to proyectos_path, 
                        'data-frame-target':'_top', 
                        class:'flex block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 
                               md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent', 'aria-current':'page' do %>
                        <%= inline_svg_tag 'svg/hogar.svg' %> 
                        <span class='text-blue-800 font-semibold ml-1'>Inicio</span>
             <% end %>  
        </li>
        <!--
        <li>
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"> 
                 <%= inline_svg_tag 'svg/peso.svg' %>
                 <span class='text-blue-800 font-semibold ml-1'>Montos</span>
                <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            
            
            <div id="dropdownNavbar" style=" position: absolute; z-index:10;" class="hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                        <% if @proyecto.mtoautorizado.nil? %> 
                                <%= link_to new_proyecto_mtoautorizado_path(@proyecto), 'data-frame-target':'_top', class:'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                                    <span class='font-semibold'>Autorizado</span>
                                <% end %>      
                        <% else %>                         
                                <%= link_to proyecto_mtoautorizado_path(@proyecto, @proyecto.mtoautorizado), 'data-frame-target':'_top', class:'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                                    <span class='font-semibold'>Autorizado</span>
                                <% end %>      
                        <% end %>    
                  </li>
                  <li>
                      <%= link_to proyecto_mtoejercidos_path(@proyecto), 'data-frame-target':'_top', class:'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                             <span class='font-semibold'>Ejercido</span>
                      <% end %>      
                  </li>
                  
                  <li>
                       <% if @proyecto.mtoconcurrente.nil? %> 
                             <%= link_to new_proyecto_mtoconcurrente_path(@proyecto), 'data-frame-target':'_top', class:'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                                 <span class='font-semibold'>Concurrente</span>
                             <% end %>      
                        <% else %>                         
                                <%= link_to proyecto_mtoconcurrente_path(@proyecto, @proyecto.mtoconcurrente), 'data-frame-target':'_top', class:'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                                    <span class='font-semibold'>Concurrente</span>
                                <% end %>      
                        <% end %>    
                  </li>
                 
                </ul>
            </div>
             
        </li>
        -->
         <li id="itemopt" data-nom="seguimiento" class="itemmenu flex ml-3 items-center rounded hover:bg-gray-200 hover:ring-2" data-action="click->menueval#clkOpcion">
                        <div data-controller="dropdown">
                              <button id="dropdownButton" class="flex items-center justify-between w-full py-2 ml-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent" type="button">
                                    <%= inline_svg_tag 'svg/calendario-lineas.svg' %>
                                    <span class='text-blue-800 text-sm font-semibold ml-1'>Seguimiento</span>
                                    <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                    </svg>
                              </button>
                              <!-- Dropdown menu -->
                              <div id="dropdownMenu" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton">
                                          <li>
                                              <%= link_to proyecto_avances_path(@proyecto), data:{turbo_frame: "py_content_sub"}, class:'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                                                   Avances
                                              <% end %>    
                                          </li>
                                          <li>
                                               <%= link_to proyecto_informes_path(@proyecto), data:{turbo_frame: "py_content_sub"}, class:'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                                                    Informes
                                               <% end %>    
                                          </li>
                                          <li>
                                             <% if @proyecto.etapas.last.tevento.clave != 'FIN' %> 
                                                  <span class="cursor-no-drop italic block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                                       Logros
                                                  </span>
                                             <% else %>
                                                  <%= link_to sfinalizar_proyecto_path(@proyecto), data:{turbo_frame: "py_content_sub"}, class:'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                                                       Logros
                                                  <% end %>
                                             <% end %>     
                                          </li>
                                    </ul>
                              </div>
                        </div>
         </li>   
        <li>
            <%= link_to proyecto_path(@proyecto, format: :pdf), 
                           target:'_blank', 
                           class:'flex block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent 
                                  md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 
                                  dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent' do %> 
                           <%= inline_svg_tag 'svg/archivo-pdf-blue.svg' %>
                          <span class='text-blue-800 font-semibold ml-1'>Ficha</span>
            <% end %>  
        </li>
       
      </ul>
    </div>
  </div>
</nav>