<%= turbo_frame_tag 'py_content_action', class:'w-full' do %>
  <div class='w-full'>
    <div class="w-full text-slate-700">
      <div class="mt-3 flex align-middle border-b-2 border-slate-200">
            <div class="flex w-1/3">
                <div><%= inline_svg_tag 'svg/edificio' %></div>
                <div class="ml-3">Fuente Financiadora</div>
            </div>
            <div class="flex w-2/3 justify-between">
                <div class="justify-self-center"><%= render "layouts/interfaz/steps" %></div>
                <div class="grid justify-self-end"><%= render 'nav' %></div>
          </div>    
      </div>
      <div class="mt-5">
        <%= turbo_frame_tag 'py_content_secc', class:'w-full' do %> 
            <%= render "show" %>
        <% end %> 
      </div>
    </div>
    
    
      

  </div>
<% end %>