<div class="border border-gray-200">
            
            <div class="p-5">
                  <template data-nested-form-est-target="template" >
                        <%= form.fields_for :pestudiantes, Pestudiante.new, child_index:'NEW_RECORD' do |pacad_fields|%>
                                <%= render 'participantes/part_est_form', f: pacad_fields %>
                        <% end %>
                  </template>


                  <%= form.fields_for :pestudiantes do |pacad_fields|%>
                        <%= render 'participantes/part_est_form', f: pacad_fields %>
                  <% end %>

                  <div data-nested-form-est-target="target"></div>
                  
                   <div class="w-full flex mt-3 "> 
                        <button type="button" class="inline-flex items-center px-2 py-2 bg-sky-600 hover:bg-sky-800 text-white text-sm font-medium rounded-md", data-action="nested-form-est#add">
                              <%= inline_svg_tag 'svg/agregar-usuario' %>
                              <div class="flex mx-1.5">Agregar Estudiante...</div>
                        </button>
                  </div>  
            </div>
</div>