<div style="display: flex; justify-content: center; height:200px; overflow-y: scroll; min-height: 100px; width:100%" data-controller="pacademico" >
     <div style="display: flex; flex-direction: column; width: 80%;">

            <template data-pacademico-target="tacademico" >
                <%= form.fields_for :pacademicos, Pacademico.new, child_index:'NEW_ACAD' do |pacad_fields|%>
                     <%= render 'participantes/part_acad_form_mod', f: pacad_fields, tipo:''  %>
                 <% end %>
            </template>

           <div data-pacademico-target="contacademico"> 

                <% i = 0 %>
                <%= form.fields_for :pacademicos do |pacad_fields| %>
                       
                      <%  if i == 0 %>
                                <%= render 'participantes/part_acad_form_mod', f: pacad_fields, tipo:'R'  %>
                      <% else %>  
                                <%= render 'participantes/part_acad_form_mod', f: pacad_fields, tipo:''  %>
                      <% end %>  
                   <% i += 1 %>
                <% end %>
           </div>
 

           <div class="w-full flex mt-7 "> 
                   <button type="button" class="inline-flex items-center px-2 py-2 bg-sky-600 hover:bg-sky-800 text-white text-sm font-medium rounded-md" data-action="click->pacademico#addItem">
                         <%= inline_svg_tag 'svg/agregar-usuario.svg' %>
                         <div class="flex mx-1.5">Agregar Investigador...</div>
                  </button>
           </div>  

          <div class="mt-5 font-semibold" style="display: flex; flex-direction: row; width: 80%;">
                    <div class="w-8/12"></div>
                    <div>Total:</div>
                    <div class="text-center w-32" id="stpinvest">
                         <% if controller.action_name == 'new' %> 
                              0.0 % 
                         <% end %>
                         <% if controller.action_name == 'edit' || controller.action_name == 'update' || controller.action_name == 'create' %> 
                              <%= @inv_sum.to_s %> % 
                         <% end %>
                    </div>
          </div>
     </div> 
</div>