    <div class="w-full" data-controller="tabspr utils participan">
        <% flash.each do |type, msg| %>
                    <% if type == 'error' %>
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                                <%= msg %>
                        </div>
                    <% end %>    
        <% end %>  
   <%= form_with(model:@participante,
                    data:{ 
                            controller:'nested-form-inv nested-form-tec nested-form-est',
                            nested_form_wrapper_selector_value: '.nested-form-wrapper'
                         }) do |form|
           %>
           <% if controller.action_name == 'new' || controller.action_name == 'create' %>
                 <%= form.hidden_field :proyecto_id, value:@proyecto.id %>
            <% end %> 

           <%= form.hidden_field :tparticipante_id, value:1 %> 
           <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400" id="tabExample" role="tablist">
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="profile-tab-example" type="button" role="tab" aria-controls="profile-example" aria-selected="false">Investigadores</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab-example" type="button" role="tab" aria-controls="dashboard-example" aria-selected="false">Técnicos</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab-example" type="button" role="tab" aria-controls="settings-example" aria-selected="false">Estudiantes</button>
                    </li>
                    
                </ul>
            </div>

            <div id="tabContentExample" class="mt-2">

                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile-example" role="tabpanel" aria-labelledby="profile-tab-example">
                    <%= render 'participantes/cont_inv', form:form %>
                </div>
                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard-example" role="tabpanel" aria-labelledby="dashboard-tab-example">
                    <%= render 'participantes/cont_tec', form:form %>
                </div>
                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings-example" role="tabpanel" aria-labelledby="settings-tab-example">
                    <%= render 'participantes/cont_est', form:form %> 
                </div>

            </div> 
            
            <%= render 'participantes/resumen' %>

       <div class="md:flex md:items-center mb-3 justify-end justify-end border-t-2 border-gray-100 p-2">
            <% if controller.action_name == 'new' || controller.action_name == 'create' %>
                <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" 
                        data-turbo-frame= 'py_content_action'>
                     <span class="ml-2">Guardar</span>
                     <%= inline_svg_tag 'svg/disco.svg', class:"ml-2" %>
                </button>
            <% end %>
            <% if controller.action_name == 'edit' || controller.action_name == 'update' %>
                <%= link_to participante_path(@participante), 
                                    class:"mr-3 text-white bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800",
                                    data: { turbo_frame: "py_content_secc", action:"click->menusecc#itemaction" } do %>  
                                   Cancelar
                <% end %>   
                <button type="submit" class="text-white bg-green-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                        data-turbo-frame= 'py_content_action' 
                       >
                     Aplicar cambios
                </button>
            <% end %>    
        
        </div>     
    <% end %>                
</div>    
