<div class="nested-form-wrapper flex p-1" data-new-record="<%= f.object.new_record? %>" >
          <div class="w-3/6 flex justify-center">     
                    <%= f.select :academico_id,
                         Academico.includes(:tacademico).where('tacademicos.clave':['TEC']).all.map{|item| [item.persona.ap_nom_prop, item.id] if item.tacademico.clave == 'TEC' },
                         {prompt: '--Seleccione un Técnico--'},
                         { 
                         data:{controller:'slim', slim_target:'field'}
                         }

                    %>   
          </div>
           <div class="w-2/12 flex justify-center items-center"></div>

          <div class="w-2/12 flex justify-center items-center">
               
          </div>

          <div class="w-2/12 flex justify-center">
               <%= f.text_field :porcentaje, 
                    class:'portec appearance-none border-1 border-gray-200 rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 text-center',
                    data:{action:'keydown->utils#keyEnter keyup->utils#formatPorcent keyup->participan#sumaPorc' }
               %>
          </div>

        
          <div class="w-2/12 flex justify-center items-center">
                <button type="button" class="inline-flex items-center px-1 py-1 bg-red-500 hover:bg-red-800 text-white text-sm font-medium rounded-md", data-action="nested-form-tec#remove">
                         <%= inline_svg_tag 'svg/cruz.svg' %>
                        
                  </button>
          </div>

          <%= f.hidden_field :_destroy %>
</div>
