
<%= render 'participantes/table_invest' %>
<%= render 'participantes/table_tec' %>
<%= render 'participantes/table_suma_porc' %>
<%= render 'participantes/table_est' %>

 <% if @proyecto.etapas.last.tevento.clave == 'CAP' || current_usuario.cuenta.rol.clave == 'EL' || @proyecto.enlaces.last.enevento.clave == 'CORR' %> 
            <div class="md:flex md:items-center mb-3 justify-end mt-5">
                <%= link_to edit_participante_path(@participante.id), 
                        class:'text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800' do %>
                        Editar Información
                <% end %>
            </div>
<% end %>   