<div class="flex w-full justify-center">
 
  <div class="w-full">
         <div class="flex w-full font-semibold">Investigadores</div>
        <table class="border-collapse border border-slate-400 w-full">
        <thead>
            <tr>
            <th class="border border-slate-300 bg-gray-300">Nombre</th>
            <th class="border border-slate-300 bg-gray-300">Categoria</th>
            <th class="border border-slate-300 bg-gray-300">Responsable</th>
            <th class="border border-slate-300 bg-gray-300">Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            <% @inv.each do |part_inv| %>
                <tr>
                    <td class="border border-slate-300"><%= part_inv.academico.persona.nom_espacio %></td>
                    <td class="border border-slate-300 text-center"><%= part_inv.academico.tacademico.nomtacademico %></td>
                    <td class="border border-slate-300 text-center">
                                <% if part_inv.responsable %>
                                              <div class="flex justify-center"><%= inline_svg_tag 'svg/controlar.svg' %></div>
                                <% end %>
                    </td>
                    <td class="border border-slate-300 text-center"><%= sprintf("%.0f",part_inv.porcentaje) %> <span>%</span> </td>
                </tr>
            <% end %>            
        </tbody>
        <tfoot>
              <tr>  
                   <td colspan="3" class="text-right font-semibold">Total:</td>
                   <td class="text-center font-semibold"><%= sprintf("%.0f", @inv.sum(:porcentaje)) %> <span>%</span> </td>
              </tr>
        </tfoot>
        </table>
   </div>     
</div>