<div class="nested-form-wrapper flex p-1 font-semibold"  >
   Fondo concurrrente
</div>
<div>
   <div class="md:flex md:items-center mb-3">
                    <div class="md:w-1/5">
                        <div class='md:text-left mb-1 md:mb-0 pr-4'>Oficio del CIINECOL:</div>
                    </div>
                    <div class="md:w-2/5">
                         <%= f.file_field :doficio %>
                    </div>
        </div>

</div>
<div class="nested-form-wrapper flex p-1"  >
       
        <div class="border border-gray-200 w-full">
            <div class="p-5">
                  <template data-nested-form-fcon-target="template" >
                      <%= f.fields_for :concurrentes, Concurrente.new, child_index:'NEW_RECORD' do |fc_fields|%>
                          <%= render 'recursos/fcon_fields', f: fc_fields %>
                      <% end %>
                  </template>

                  <% if  controller.action_name == 'create' %> 
                         <%= f.fields_for :concurrentes do |f_fields|%>
                                   <%= render 'recursos/fesp_fields', f: f_fields %>
                         <% end %>
                  <% end %>  

                  <% if controller.action_name == 'edit' %> 
                        <%= f.fields_for :concurrentes do |fc_fields|%>
                                <%= render 'recursos/fcon_fields', f: fc_fields %>
                        <% end %>
                  <% end %>     

                  <div data-nested-form-fcon-target="target"></div>

                  <div class="w-full flex mt-3 ">
                      <button type="button" class="inline-flex items-center px-2 py-2 bg-sky-600 hover:bg-sky-800 text-white text-sm font-medium rounded-md", data-action="nested-form-fcon#add">
                            <%= inline_svg_tag 'svg/agregar-usuario' %>
                            <div class="flex mx-1.5">Agregar Capítulo...</div>
                      </button>
                  </div>
      
            </div>
        </div>    
</div>