<turbo-frame id="porc_impuesto">

  <%= form_with model: [@proyecto, @presupuesto, @impuesto] do |form| %>
     
     <%= form.hidden_field :porc_iva, value: @impuesto_ant.porc_iva %>
     <%= form.hidden_field :clave, value: 'OTR' %>

     <input type="hidden" id="costop" name="costop" value="<%= @presupuesto.costo %>">
     <input type="hidden" id="overhead" name="overhead" value="<%= @presupuesto.overhead %>">
     <input type="hidden" id="estimulo" name="estimulo" value="<%= @presupuesto.estimulo %>">
     <input type="hidden" id="iva" name="iva" value="<%= @presupuesto.iva %>">
     <input type="hidden" id="totalgastos" name="totalgastos" value="<%= @presupuesto.tgastos %>">
     <input type="hidden" id="totalproyecto" name="totalproyecto" value="<%= @presupuesto.tproyecto %>">

     <input type="hidden" id="lmoneda" name="lmoneda" value="<%= @presupuesto.moneda.locale %>">
     <input type="hidden" id="cmoneda" name="cmoneda" value="<%= @presupuesto.moneda.currency %>">
     <input type="hidden" id="smoneda" name="cmoneda" value="<%= @presupuesto.moneda.simbolo %>">

    <div class="border-solid border-2 border-gray-600" data-controller="impuestos">
        <div class="bg-blue-400 p-1 font-semibold" style="display: flex; align-items: center; justify-content: center;">Editar porcentajes</div>

        <div class="grid grid-cols-2 gap-4 mt-3" style=" <%= @proyecto.overhead ? 'display:flex;' : 'display:none;' %>  ">
              <div class="w-5/12" style="display:flex; align-items: center; justify-content: end;">
                  <div class="w-full" style="display: flex;">
                      <% if @impuesto_ant.porc_overhead % 1 == 0 %>
                            <div class="w-1/2" style="display: flex; justify-content: end;">
                                <%= form.text_field :porc_overhead, 
                                                    value:sprintf("%d", @impuesto_ant.porc_overhead),
                                                    class: 'p-1',
                                                    style:'width: 70px; height: 30px;',
                                                    'data-action':'keyup->impuestos#eventOverhead'
                                %> 
                            </div>
                            <div class="w-1/2" style="display: flex; justify-content: end;">
                                % Overhead:
                            </div>    
                      <% else %>
                            <div class="w-1/2" style="display: flex; justify-content: end;">
                                <%= form.text_field :porc_overhead, 
                                                    value:sprintf("%.2f", @impuesto_ant.porc_overhead),
                                                    class: 'p-1',
                                                    style:'width: 70px; height: 30px;',
                                                    'data-action':'keyup->impuestos#eventOverhead'
                                %> 
                            </div>    
                            <div class="w-1/2" style="display: flex; justify-content: end;">
                                % Overhead:
                            </div>    
                      <% end %>
                  </div>  
              </div>
              <div class="w-5/12" style="display: flex; align-items: center; margin-left: 1px;" id="monto_overhead">
                    <%= number_to_currency(@presupuesto.overhead, :unit=>@moneda.currency + ' ' + @moneda.simbolo + ' ') %>
              </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-3" style=" <%= @proyecto.overhead ? 'display:flex;' : 'display:none;' %>  ">
              <div class="w-5/12" style="display:flex; justify-content: end;">
                 <div class="w-full" style="display: flex;">
                        <% if @impuesto_ant.porc_estimulo % 1 == 0 %>
                              <div class="w-1/2" style="display: flex; justify-content: end;">
                                  <%= form.text_field :porc_estimulo, 
                                                      value:sprintf("%d", @impuesto_ant.porc_estimulo),
                                                      class: 'p-1',
                                                      style:'width: 70px; height: 30px;',
                                                      'data-action':'keyup->impuestos#eventEstimulo'
                                  %>
                              </div>    
                              <div class="w-1/2" style="display: flex; justify-content: end;">
                                   % Estímulo:
                              </div>     
                        <% else %>
                              <div class="w-1/2" style="display: flex; justify-content: end;">
                                  <%= form.text_field :porc_estimulo, 
                                                      value:sprintf("%.2f", @impuesto_ant.porc_estimulo),
                                                      class: 'p-1',
                                                      style:'width: 70px; height: 30px;',
                                                      'data-action':'keyup->impuestos#eventEstimulo'
                                  %>
                              </div>    
                              <div class="w-1/2" style="display: flex; justify-content: end;">
                                   % Estímulo:
                              </div>     
                        <% end %>
                 </div>      
              </div>
              <div class="w-5/12" style="display: flex; align-items: center; margin-left: 1px;" id="monto_estimulo">
                    <%= number_to_currency(@presupuesto.estimulo, :unit=>@moneda.currency + ' ' + @moneda.simbolo + ' ') %>
              </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-3 mb-5" style=" <%= @proyecto.overhead ? 'display:flex;' : 'display:none;' %>  ">
              <div class="w-5/12" style="display:flex; justify-content: end;">
                   <div class="w-full" style="display: flex; align-items: center;">
                        <div class="w-1/2" style="display: flex; align-items: center; justify-content: end;">
                              <% if @impuesto_ant.porc_iva == 0 %> 
                                   <input type="checkbox" value="1" name="iva_check" id="iva_check" data-action="click->impuestos#eventIva" checked> <div class="ml-2">Quitar</div>
                              <% else %>
                                   <input type="checkbox" value="1" name="iva_check" id="iva_check" data-action="click->impuestos#eventIva"> <div class="ml-2">Quitar</div>
                              <% end %>  
                        </div>
                        <div class="w-1/2" style="display: flex; align-items: center; justify-content: end;">IVA:</div>
                   </div>      
              </div>
              <div class="w-5/12" style="display: flex; align-items: center; margin-left: 1px;" id="monto_iva">
                    <%= number_to_currency(@presupuesto.iva, :unit=>@moneda.currency + ' ' + @moneda.simbolo + ' ') %>
              </div>
        </div>

       <div class="p-2" style="display: flex; align-items: center; justify-content: center;"> 
           <button type="button" class="p-2 bg-slate-500 rounded text-white" type="button" data-action="click->impuestos#cancelar"
                   data-impuestos-url-param="<%= proyecto_presupuesto_impuesto_path(@proyecto.id, @presupuesto.id, @impuesto_ant.id) %>"
           >
                   Cancelar
           </button>   

           <button type="submit" class="p-2 bg-blue-700 rounded ml-5 text-white" type="button" data-action="click->impuestos#cancelar"
                   data-impuestos-url-param="<%= proyecto_presupuesto_impuesto_path(@proyecto.id, @presupuesto.id, @impuesto_ant.id) %>"
           >
                   Aceptar
           </button>   
       </div>

    </div>    
  <% end %>
</turbo-frame>