<!DOCTYPE html>
<html>
  <head>
    <title>Inecol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/slim-select@latest/dist/slimselect.css", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js' %>
    
  </head>

  <body>
    <main class="container-fluid mx-auto flex ">
         <div class="flex justify-center w-full h-screen">
             <div class="flex w-3/4 justify-center items-center">
                <%= yield %>
             </div>   
         </div> 
    </main>
  </body>
</html>
