<!DOCTYPE html>
<html>
  <head>
    <title>Inecol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/slim-select@latest/dist/slimselect.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .box.over {
        border: 3px dotted #666;
      }


    </style>
  </head>

  <body>
    <main class=" mx-auto flex">
         <%= render "layouts/interfaz/enlace" %>
          <div class="flex-col w-full">
              <div class="flex justify-center w-full p-1 h-20 ">
                     <div class="flex justify-between w-4/5 border-b-2 border-slate-200">
                        <div class="flex">
                            <div class="flex items-center"><%= image_tag "logo140.png", width:"120px" %></div>
                        </div>   
                        <div class="flex">
                          <div class="flex items-center"><%= inline_svg_tag 'svg/circulo-de-usuario.svg'%></div> 
                          <div class="ml-2 text-sm text-blue-800 flex items-center font-semibold"><span><%= current_usuario.cuenta.persona.nom_espacio %></span></div>
                        </div>  
                    </div>   
              </div>              
              <div class="flex justify-center w-full">
                      <div class="flex w-4/5">
                            <%= turbo_frame_tag 'pycontent',  data:{turbo_cache:false}, class:'w-full' do %>
                                <%= yield %>
                            <% end %>
                      </div>   
              </div> 
         </div>
    </main>
  </body>
</html>
<script>
   
   document.addEventListener('DOMContentLoaded', (event) => {
        function handleDragStart(e) {
          this.style.opacity = '0.4';
          dragSrcEl = this;
          e.dataTransfer.effectAllowed = 'move';
          e.dataTransfer.setData('text/html', this.innerHTML);
          console.log("---------------")
          console.log(dragSrcEl)
        }

        function handleDragEnd(e) {
          this.style.opacity = '1';

          items.forEach(function (item) {
            item.classList.remove('over');
          });
        }

        function handleDragOver(e) {
          if (e.preventDefault) {
            e.preventDefault();
          }

          return false;
        }

        function handleDragEnter(e) {
          this.classList.add('over');
        }

        function handleDragLeave(e) {
          this.classList.remove('over');
        }
        function handleDrop(e) {
          e.stopPropagation(); // stops the browser from redirecting.
          //if (dragSrcEl !== this) {
          //  dragSrcEl.innerHTML = this.innerHTML;
            this.innerHTML = e.dataTransfer.getData('text/html');
          //}

          return false;
        }


        let items = document.querySelectorAll('.box');
        items.forEach(function(item) {
          item.addEventListener('dragstart', handleDragStart);
          item.addEventListener('dragover', handleDragOver);
          item.addEventListener('dragenter', handleDragEnter);
          item.addEventListener('dragleave', handleDragLeave);
          item.addEventListener('dragend', handleDragEnd);
          item.addEventListener('drop', handleDrop);
        });
   });

</script>